[2017-03-08 23:38] joehorsnell opened #1 "Section on reverse proxies shows a diagram of a forward proxy"
@donnemartin - your section on reverse proxies shows a diagram (from Wikipedia) of a forward, not a reverse proxy.

Excellent resource by the way (from the sections I've looked at anyway!).

[2017-03-09 00:02] spartanatreyu opened #2 "Include this guide with github.com/open-guides ?"
This would be awesome if this was the platform-agnostic companion guide with the [Open Amazon Web Services](https://github.com/open-guides/og-aws) guide posted and maintained under github.com/open-guides.

[2017-03-09 00:34] FourSigma commented on #2
I agree, that would be nice!

[2017-03-09 01:42] donnemartin commented on #1
Hi @joehorsnell, nice catch!

Interested in a pull request?  It seems like this is the image I should have linked to:  https://upload.wikimedia.org/wikipedia/commons/6/67/Reverse_proxy_h2g2bob.svg

![](https://upload.wikimedia.org/wikipedia/commons/6/67/Reverse_proxy_h2g2bob.svg)

[2017-03-09 01:47] donnemartin commented on #2
Hi, I'm a big fan of the awesome open-guides/og-aws and helped pitch in with its initial launch.  I'll have to think some more about the suggestion, thanks!

[2017-03-09 01:47] #2 closed

[2017-03-09 02:27] letientai299 opened #3 "Repo internal links are broken"
It seems that you have changed repo name from `system-design-primer-interview` to `system-design-primer`, while using hard link (`https://github.com/donnemartin/...`)  inside the `readme`s.

I suggest to user Github relative link schema instead.

[2017-03-09 02:42] WillDignazio opened #4 "PDF Download"
I'd love to be able to read this as a PDF, can a pdf generated per-commit be added to the repo?

[2017-03-09 02:42] donnemartin commented on #3
Hi @letientai299, it looks like the links for the exercises/solutions are broken, I'll fix them.  Thanks for reporting!

[2017-03-09 02:54] letientai299 commented on #3
FYI, you can replace

[code]
with
[code]

[2017-03-09 03:20] #3 closed

[2017-03-09 03:21] donnemartin opened #6 "Migrate links from exercises/solutions to use internal links"
See https://github.com/donnemartin/system-design-primer/issues/3#issuecomment-285239849

[2017-03-09 03:23] donnemartin commented on #3
@letientai299 I fixed the broken links as the first pass.  I missed your [tip](https://github.com/donnemartin/system-design-primer/issues/3#issuecomment-285239849), we can make them relative in the next pass.  I've opened up https://github.com/donnemartin/system-design-primer/issues/6 to keep track.

Thanks!

[2017-03-09 03:25] donnemartin commented on #4
Hi @WillDignazio, interesting suggestion!  Not sure how to do this, if anyone has any tips, please feel free to share.

[2017-03-09 04:25] dumindu opened #7 "Convert this to a Gitbook(suggestion)"
Please convert this to a [Gitbook](https://www.gitbook.com)

[2017-03-09 04:29] dumindu commented on #4
@donnemartin If you convert this to a [Gitbook](https://github.com/donnemartin/system-design-primer/issues/7) , it gives interfaces to download this as pdf, epub and etc.

[2017-03-09 04:31] #1 closed

[2017-03-09 04:32] donnemartin commented on #7
Hi @dumindu, thanks for the suggestion!

[2017-03-09 09:00] FilipMiletic commented on #4
Yup, try Gitbook. Having this amazing piece in PDF would be great, and I would appreciate it a lot.

[2017-03-09 18:16] joehorsnell commented on #1
You're too quick! Yes, I was planning to open a PR the following day (just raised the issue so I didn't forget) but you'd already fixed it by the time I checked back 😃

[2017-03-10 04:27] iamsidshetty opened #12 "Add Dyn DDoS attack link under disadvantages of DNS"
It would be great to have a link to the Dyn DDoS attack summary under the disadvantages of DNS section. You have already mentioned the Twitter Attack.

[2017-03-10 08:33] ulkaio opened #15 "Make the OmniGraffle template and diagrams available"
Hi @donnemartin , I am big fan of your work. I have a question, how you draw these nice diagram, l mean which tools did you used. Thanks.

**EDIT by donnemartin**: 👍 to indicate interest in the templates.

[2017-03-10 12:51] addianto commented on #4
@donnemartin Or you can also use Travis CI to generate the PDF automatically and upload it as a [GitHub releases](https://docs.travis-ci.com/user/deployment/releases/). I can try setting up an example in my fork and make a Pull Request this weekend.

The idea is to use a utility named [pandoc](http://pandoc.org/) that can convert Markdown file to other format such as PDF. We can setup a Travis bui

[2017-03-10 13:31] donnemartin commented on #15
Hi @ulkaio, thanks for the feedback!  I use OmniGraffle for the diagrams.

[2017-03-10 13:37] saxad commented on #1
hello hello ! test test

[2017-03-10 13:43] jamescowie commented on #15
Is there any specific template in OmniGraffle you use ?

[2017-03-10 21:29] bradclawsie opened #16 "add discussion of potential pitfalls of transient caches in concurrent scenarios"
cache tombstones etc

[2017-03-11 02:05] donnemartin commented on #15
@jamescowie I have a custom set of components I created as a template, I can try to clean those up and make them available if there's interest.

[2017-03-11 02:08] donnemartin commented on #12
Merged in https://github.com/donnemartin/system-design-primer/pull/13.

[2017-03-11 02:08] #12 closed

[2017-03-11 02:09] donnemartin commented on #16
Hi @bradclawsie thanks for the suggestion!  PRs are welcome :)

[2017-03-11 02:14] nghib commented on #15
+1

[2017-03-11 02:16] donnemartin commented on #4
@addianto interesting approach, thanks for investigating it and reporting the results.

@dumindu @FilipMiletic I'll try to free up and check out Gitbook, thanks for the suggestion.

[2017-03-11 02:17] donnemartin commented on #15
I'll re-open this issue and change the issue title.

[2017-03-14 14:33] QuestForGhabby commented on #16
Just meeting guy about using programs today.  Hold on people in coffee shop trolling me.  I rage quit 😘

[2017-03-14 14:37] Ashoka33 commented on #16
I am new what should i lern to use github

[2017-03-14 16:05] #16 closed

[2017-03-15 10:09] jamescowie commented on #15
Thanks so much @donnemartin I would be very interested in this template as I am really impressed with how clean and understandable they are. Its also really hard to find icons such as Database that you have.

Please let me know if I can assist in cleaning them up. I would be more than happy to take that task on and free up some of your time if it makes sense.

[2017-03-15 11:02] donnemartin commented on #15
@jamescowie no problem, I'm working on them already :)

Hope to have them out sometime next week!

[2017-03-15 22:14] anishshah44 commented on #4
Surely one day give contribute

[2017-03-15 23:19] donnemartin commented on #4
@SuperAssassinNinja @anishshah44 I really appreciate the gesture!  Please just donate to your favorite charity, thanks :)

[2017-03-16 01:36] andywb commented on #4
oh....

[2017-03-16 03:44] addianto commented on #4
I continued my previous experiment on using pandoc to automate PDF generation. The tool still failed to generate the PDF file.

The cause of error probably because the image files are linked from external source, i.e. from Imgur. Is it possible to locally host the images in the repository? @donnemartin

If anyone interested, you can see the build log [here](https://travis-ci.org/addianto/system-de

[2017-03-16 05:11] addianto commented on #4
Did a quick other experiment using a Python module named `m2pdf`. Although it required several dependencies on Ubuntu, it can read the README file in this repository and successfully generated the PDF file.

The result is not quite right yet. Several images and tables are rendered incorrectly in the generated PDF document.  See the example: https://imgur.com/a/SGdrK

[2017-03-16 09:48] donnemartin commented on #4
Thanks for the update @addianto.  I think hosting images in the repo is do-able.  Good to hear that `m2pdf` is working quite well.

I'd like to explore the Gitbook path when I free up and compare the PDF result to `m2pdf`.

[2017-03-19 19:23] #6 closed

[2017-03-20 07:48] robinma commented on #7
什么时候迁移到gitbook上面呀

[2017-03-20 17:51] ralph-tice commented on #15
While you are working on the templates, have you considered adding a component representing a distributed ordered log service?  I see the architecture here as emblematic of the [CQRS pattern](https://martinfowler.com/bliki/CQRS.html).

Typically a high scale system will use Kafka, ActiveMQ, RabbitMQ, Mule types of systems for initial persistence and backend workers subscribe to the queue and persi

[2017-03-21 05:21] jmaclabs opened #27 "How about a section on testing these architectures?"
The one section that's missing is testing. Howdoyou validate the implementation of such portions of a stack?

[2017-03-21 15:32] hwclass opened #28 "Translations"
In some languages like DE, JP, TR, etc.

[2017-03-22 02:18] donnemartin commented on #28
Good idea!  Tagging as help wanted.  The diagrams/images might need some thought on how to best translate (if at all).

[2017-03-22 02:21] donnemartin commented on #27
Hi @jmaclabs, good thinking.  I think the [Site Reliability Engineering](https://landing.google.com/sre/book.html) book is a good resource for this.  Unfortunately it has a non-derivatives license which seems like it might be difficult to add material from the book (IANAL).

[2017-03-22 02:27] donnemartin commented on #15
Hi @ralph-tice good suggestion!

I haven't considered adding this yet.  Pull requests are welcome :)

[2017-03-22 04:20] elleryfamilia commented on #4
@WillDignazio I just used the Atom plugin "Markdown to PDF" and it did at Ok job. Too large a font size is the only issue I'm seeing.

[2017-03-22 06:58] sqrthree commented on #28
@donnemartin Awesome document 💯. Could we translate this document into simplified Chinese and share with more Chinese developers, please? We have an organization, and we have translated more than 400 articles. We are looking forward to hearing from you.

[2017-03-22 11:16] donnemartin commented on #28
Hi @sqrthree, thank you!  That would be awesome if you could lead the simplified Chinese translation.  Please let me know how I can best support you.

[2017-03-22 12:33] emrahtoy commented on #28
I would like like to help for turkish translation @hwclass & @donnemartin  :+1:
How shell we start ?

[2017-03-22 12:44] hwclass commented on #28
It would be great, @emrahtoy. Yes, how shall we start @donnemartin?

[2017-03-22 17:28] ralph-tice commented on #15
I'd love to open up a PR and contribute, can you tag me in the commit/PR when you land the Omnigraffle templates in the repo?  Thanks for all your hard work!

[2017-03-23 02:55] donnemartin commented on #15
@ralph-tice awesome, sure I'll tag you thanks!

[2017-03-23 03:13] donnemartin commented on #28
Hi everyone, thanks for pitching in with the translations!  I updated the original post with a [proposed workflow](https://github.com/donnemartin/system-design-primer/issues/28#issue-215780851).

[2017-03-23 10:45] mad01 opened #31 "Change Zookeeper as example for service discovery"
Using Zookeeper as a example of service discovery might not be a god idea. Why? The way you run and manage zookeeper is hard, the way zookeeper knows that a service is healthy is a bit fragile and does not allow node failure in the ZK cluster. Using something like [consul](https://www.consul.io/docs/index.html)  as the example were the health checking is done differently  and is pull based makes i

[2017-03-23 17:20] alain2208 opened #32 "Company architectures : old references"
Nearly all references in Company architectures section point on very old article some of them 10 yrs old and 'youngest' 5 yrs old.
could be good to have new infos if available.
very nice job for the conceptual presentation of components.

[2017-03-24 02:51] donnemartin commented on #31
Hi @mad01, thanks for the feedback!

Please feel free to submit a PR to help us get started.  The [Service Discovery](https://github.com/donnemartin/system-design-primer#service-discovery) section is also very thin at the moment, it could also use a bit more detail if you're up for it :)

[2017-03-24 02:57] donnemartin commented on #32
Hi @alain2208 thanks for the feedback!

I feel that many of those links (although older) contain pretty solid information.

Please feel free to suggest alternative links.  Pull requests are welcome!

[2017-03-25 18:07] IuryAlves commented on #28
Who wants to translate for brazilian portuguese ? o/

[2017-03-27 11:13] donnemartin commented on #15
Just a quick update, I'm getting close to wrapping this up.  Sorry been really busy lately, I hope to have it out end of this week.

[2017-03-27 11:29] donnemartin opened #38 "Simplified Chinese translation"
Maintainer(s): @sqrthree

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Interested in helping, let us know!

[2017-03-27 11:30] donnemartin opened #39 "Turkish translation"
Maintainer(s): @emrahtoy

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Interested in helping?  Let us know!

[2017-03-27 11:30] donnemartin opened #40 "Brazilian Portuguese translation"
Maintainer(s): @IuryAlves

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Interested in helping?  Let us know!

[2017-03-27 11:37] donnemartin commented on #28
I added the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations) to help standardize the process.

@hwclass which translation(s) are you interested in tackling?

@sqrthree: https://github.com/donnemartin/system-design-primer/issues/38

@emrahtoy: https://github.com/donnemartin/system-design-primer/issues/39

@IuryAlves

[2017-03-27 11:51] hwclass commented on #28
Hi @donnemartin

I can help @emrahtoy for Turkish translations.

[2017-03-27 13:56] sqrthree commented on #28
@donnemartin Great. I noticed you are working on OmniGraffle templates, please let us know when you finish it. :stuck_out_tongue:

[2017-03-27 15:35] jlevy commented on #28
Cool to see this idea working on new projects! :) Excited to see if you devise any improvements to the translation process.

[2017-03-27 20:15] divyum commented on #4
Hi @donnemartin , thanks for making such an informative guide.
I tried experimenting with Gitbook, have created a very basic draft [here](https://divyumrastogi.gitbooks.io/system-design/content/the_system_design_primer/motivation.html).
Looking for feedback/suggestions so that I can continue developing it.

P.S. Topics shall be empty. Its just how the doc will look like, will have to add data to r

[2017-03-28 01:49] juzhiyuan commented on #38
I'd glad to it.

[2017-03-28 03:16] sqrthree commented on #38
@juzhiyuan Hello, we are in the process of doing that, If you are interested in our organization, you can get to know it at [github.com/xitu/gold-miner](https://github.com/xitu/gold-miner). : )

[2017-03-28 11:50] donnemartin commented on #28
@hwclass great, I added you as a maintainer to https://github.com/donnemartin/system-design-primer/issues/39.

@sqrthree will do!

@jlevy thanks for the template and the awesome work on TAOCL!  I'll let you know if we come up with any improvements to the translations process.

[2017-03-28 11:52] donnemartin commented on #4
Hi @divyum, thanks for prototyping Gitbook!  This does look easier to digest than the current single page README.

I'm not too familiar with Gitbook, it seems like I'd have to run the Gitbook version from my GitHub account so it auto-syncs with this repo?

[2017-03-28 12:04] canhlinh commented on #4
[system-design-primer.pdf](https://github.com/donnemartin/system-design-primer/files/875541/system-design-primer.pdf)

[2017-03-28 12:05] divyum commented on #4
@donnemartin I tried auto-sync repo, the issue is that Gitbook merges complete README into a single topic which is like a single README in Gitbook :P. The only way I see is to manually move data into different topics.

I also tried making gitbook from gitbook-cli but seems it just gives you a basic structure and not automatically makes topic for each section (see [here](https://github.com/divyum/s

[2017-03-29 04:16] reece opened #41 "Topic suggestion: distributed logging and monitoring"

[2017-03-29 04:21] reece opened #42 "Topic suggestion: config, deployment, devops, and testing strategy"
It would be nice to have pointers to strategies for configuring, testing, and deploying a large stack. This is a huge topic and might be better suited in a companion document.

[2017-03-29 04:23] reece opened #43 "Topic suggestion: authentication services"

[2017-03-29 10:21] donnemartin commented on #31
Merged with https://github.com/donnemartin/system-design-primer/pull/36.

[2017-03-29 10:21] #31 closed

[2017-03-29 10:23] donnemartin commented on #43
Hi @reece, thanks for this suggestion and also for https://github.com/donnemartin/system-design-primer/issues/42 and https://github.com/donnemartin/system-design-primer/issues/41!

[2017-03-29 10:29] donnemartin commented on #4
@canhlinh thanks for the PDF version!  I updated the [original post](https://github.com/donnemartin/system-design-primer/issues/4#issue-212919425) with a link to your comment.

@divyum thanks for the additional info!  I hope to free up soon to better evaluate/help with Gitbook.

[2017-03-30 02:32] jasonhubs opened #44 "what's the drawing tool on reademe"
Hi,it's very beautiful -the frame about the system-design，and i want to know that which tool to draw it!
   thank you!

[2017-03-30 04:30] bowin commented on #44
curious   +1

[2017-03-30 11:35] donnemartin commented on #44
Hi @jasonhubs @bowin, thanks for the feedback!  I use OmniGraffle, more info can be found in https://github.com/donnemartin/system-design-primer/issues/15.

[2017-03-30 11:35] #44 closed

[2017-03-30 14:56] jasonhubs commented on #44
thank you! @donnemartin

[2017-03-31 07:15] Diyilou opened #45 "sorry, I push wrong place!"

[2017-04-02 12:11] donnemartin commented on #45
No problem :)

[2017-04-02 12:11] #45 closed

[2017-04-02 12:34] #15 closed

[2017-04-02 12:36] donnemartin commented on #15
Template and diagrams are now available!  See https://github.com/donnemartin/system-design-primer/pull/48.

[2017-04-07 12:07] RJ722 opened #53 "vulture analysis report"
Hi!
We used vulture over your project to detect any unused code. Please have a look at the results:
https://github.com/jendrikseipp/vulture-analysis/blob/master/system-design-primer/system-design-primer.md

We would love to have your feedback.

[2017-04-07 15:45] Jeshwanth opened #54 "Which tool has been used to create the Diagram?"
Hello,
Just for an information, and the diagram looks really good.

Can you please share which tool you used to create the diagram ?

Thanks

[2017-04-07 15:49] Jeshwanth commented on #54
Omnigraffle.

Found in https://news.ycombinator.com/item?id=13823979

[2017-04-08 00:30] donnemartin commented on #54
Hi @Jeshwanth, yes it's OmniGraffle, for more detail check out https://github.com/donnemartin/system-design-primer/issues/15.  Thanks!

[2017-04-08 00:30] #54 closed

[2017-04-10 03:16] coderall commented on #28
i wonder if i can help to translate this great work to Chinese

[2017-04-10 10:53] donnemartin commented on #28
Hi @coderall, thanks for offering to help!

Please check out https://github.com/donnemartin/system-design-primer/issues/38 for the Chinese translation progress.

[2017-04-12 02:48] zhulongcheng opened #58 "a broken link"
this link not work

[2017-04-12 12:30] donnemartin commented on #58
Hi @zhulongcheng thanks for the bug report!  The link should be:

https://github.com/donnemartin/interactive-coding-challenges/blob/master/anki_cards/Coding.apkg

Interested in submitting a pull request?

[2017-04-14 01:05] donnemartin commented on #58
Fixed with https://github.com/donnemartin/system-design-primer/pull/59.

[2017-04-14 01:05] #58 closed

[2017-04-15 11:57] berrytchaks opened #63 "Efficient method to address concurrent requests in a successfully e-commerce platform"
Hi,

Given a successfully e-commerce platform like Amazon, when there are millions of sellers and buyers. If a seller is selling many 20 articles and receives 30 concurrent buying request from customers. How will the platform addresses effectively and efficiently all those concurrent requests.

Here is what I thought of:
Synchronizing the database for any buying request. The problem here is that w

[2017-04-16 23:22] donnemartin commented on #63
Hi @berrytchaks, I've added some tags in case anyone wants to add to the discussion or post a handy resource link.

[Amazon's architecture](http://highscalability.com/amazon-architecture) linked from the System Design Primer.

Relevant section you might find helpful:

[2017-04-17 03:19] donnemartin opened #66 "Notice: Maintainer Temporarily Unavailable"
Hi Everyone,

I'll be temporarily unavailable starting April 17 and won't be able to respond to issues or pull requests.  I'm hoping I'll be available in a couple of weeks, but I might not be responsive for several weeks.

Sorry for the inconvenience.

cc: @hwclass @sqrthree @emrahtoy @IuryAlves

-Donne

[2017-04-17 15:22] hbarcelos commented on #40
Hello, I'm interested in helping.

What can I do next?

[2017-04-20 04:02] wizardforcel commented on #38
@sqrthree

I think there is one important thing you guys have ignored. Does the solution part need to be translated?

[2017-04-20 05:33] sqrthree commented on #38
@wizardforcel We are still working on the rest of the section.

@juzhiyuan @wizardforcel  It's will be awesome if you can join us, you can get more detail at [xitu/system-design-primer/issues](https://github.com/xitu/system-design-primer/issues).

[2017-04-20 16:06] mdabek opened #68 "Polish translation"
I am working on ##polish## translation of the document on the forked repository (https://github.com/mdabek/system-design-primer).

I have some work done already. Is anyone willing to help?

[2017-04-21 04:06] IuryAlves commented on #40
Hi @hbarcelos. The maintainer of this project is not available, see issue #66. So i think we could work in my [fork](https://github.com/IuryAlves/system-design-primer). When the translation is done we send a pull request to this repo.

We are going to do the translation in the file called`README-pt-BR.md`. Also you can translate whole sections or just some sentences, it`s your choice.

[2017-04-24 10:53] heltucosta commented on #40
I would like to help also.

[2017-04-26 01:40] SuperAssassinNinja commented on #40
Hey guys,
I'd like to help, how do we proceed?

[2017-04-29 04:08] IuryAlves commented on #40
Hi @heltucosta @SuperAssassinNinja. What do you think about my suggestion? If you have better ideias, please let me know.

[2017-04-29 04:15] GSalomaoK commented on #40
Sounds good to me. I'm able to help also.

[2017-05-01 15:41] IuryAlves commented on #40
I have created [issues](https://github.com/IuryAlves/system-design-primer/issues) to the brazilian translation. Each issue is a section of the text. Just make a comment in the issue that you want to translate.

[2017-05-02 07:10] cgonul commented on #39
Hi I want to give it a try on this issue. I have read the contributing guidelines. I am a native Turkish speaker.

[2017-05-02 12:46] heltucosta commented on #40
Sounds good to me. will take a look

[2017-05-14 13:16] zoidbergwill opened #77 "Topic suggestion: More related to communication layers"
This guide contains a pretty awesome overview of what matters when it comes to designing systems on a high-level technical level.

I loved reading over it all.

Fleshing out some information about application, transport, and network layers. Maybe covering the interaction between DNS/ARP/BGP as well would be valuable, imho.

https://github.com/donnemartin/system-design-primer#communication

[2017-05-16 03:34] donnemartin commented on #66
Back now, although it might be a bit slow before I get all caught up.

[2017-05-16 03:34] #66 closed

[2017-05-16 03:40] donnemartin commented on #40
Hi, I'm back now, sorry for the delay.

Great to see the activity on this, thanks for the help!  Let me know if you need anything.

[2017-05-16 03:41] donnemartin commented on #68
Hi @mdabek, thanks for the help!  I've updated your original post with some additional info.

[2017-05-16 03:54] donnemartin commented on #77
Hi @zoidbergwill, thanks for the feedback and suggestion!

I think that could be helpful info.  When adding those topics we might need to balance what to place directly in the repo versus adding relevant links for more in-depth info.

Adding some tags to get us started.

[2017-05-21 14:56] tangkangkai opened #79 "Inaccuracy in Twitter timeline and search example"
In Calculate usage,

6,000 tweets per second
**15 billion tweets delivered on fanout per month** * (400 requests per second / 1 billion requests per month)
60 thousand tweets delivered on fanout per second
**150 billion tweets delivered on fanout per month** * (400 requests per second / 1 billion requests per month)

We probably want to use "15 billion tweets per month" instead.

[2017-05-23 02:00] donnemartin commented on #79
Hi @tangkangkai, nice catch!  I think line 79 should say the following, to be consistent with line 44.

    * 15 billion tweets per month * (400 requests per second / 1 billion requests per month)

Are you interested in submitting a pull request?

[2017-05-25 01:47] tangkangkai commented on #79
Requested

[2017-05-27 00:31] #79 closed

[2017-06-04 21:33] IuryAlves commented on #40
I am struggling to find a good translation to the word `worker` in the [Application Layer Section](https://github.com/donnemartin/system-design-primer#application-layer)

Should i keep the original word `(worker)` ?
Should i try to explain what a `(worker)` is ?

cc @donnemartin, @hbarcelos, @heltucosta, @SuperAssassinNinja , @GSalomaoK

[2017-06-05 13:30] hbarcelos commented on #40
I think worker is a well known jargon in Software Engineering and has no perfect translation.
Also, since this repo targets more experienced engineers that want to become system architects, I believe there's no need to define what a worker is.

What the rest of you think?

[2017-06-06 13:07] ricardovsilva commented on #40
@hbarcelos, this content targets more experienced engineers but it can also be very very useful to rookies developers. My sugestion is to just hyperlink word worker to some url with good content about. For example: https://developers.google.com/web/fundamentals/getting-started/primers/service-workers?hl=pt-br

[2017-06-08 01:06] donnemartin commented on #40
I think these are good suggestions, thanks @hbarcelos and @ricardovsilva!

[2017-06-22 06:43] soapsign opened #86 "Unit prefix in Powers of two table"
Currently, the unit prefix for bytes is using `Metric prefixes`. For correctness, I think its should be `Binary prefix`. For example `1024byte` should be `1kiB` rather then `1KB`.

[2017-06-29 15:25] DmitryAuine opened #87 "I'm working on Russian translation"
I will make a PR soon

[2017-06-29 15:26] DmitryAuine commented on #28
Russian
https://github.com/donnemartin/system-design-primer/issues/87

[2017-07-01 15:19] kevingo opened #88 "Traditional Chinese Translation"
Maintainer(s): @kevingo

Please check out the [Translations Contributing Guidelines.](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations)

Original translations thread: #28

Interested in helping? Let us know!

[2017-07-01 16:06] donnemartin commented on #87
Hi @DmitryAuine, thanks for the help! I've updated your original post with some additional info.

[2017-07-01 16:06] donnemartin commented on #88
Hi @kevingo, awesome thanks for the help!

[2017-07-01 16:09] donnemartin commented on #86
Interesting, thanks for the suggestion!

[2017-07-04 18:27] shanSyapse opened #90 "Difference between pull and push CDN"
From this source
http://www.travelblogadvice.com/technical/the-differences-between-push-and-pull-cdns/, the push CDN is better for high traffic websites, and pull cdn is better for low traffic websites.  However, it is stated the opposite way in your description. It is probably a typo on your article

[2017-09-05 13:45] NathanHeffley commented on #90
Just saying, but a blog about travel blogs is probably not a super reliable source. From reading over both resources, it sounds like that article has it backwards and the explanation given in this GitHub repo sounds more reasonable.

[2017-09-12 00:40] donnemartin commented on #90
Hi, I took a quick look at the article, it says this (emphasis mine):

This seems to be opposite from your interpretation of the article:

[2017-09-12 00:40] #90 closed

[2017-09-14 05:15] tsukukobaan commented on #28
Hi! @donnemartin
I've recently found this project and was impressed with its thorough contents!!
I would love to contribute to this by translating it into Japanese.

[2017-09-15 00:20] donnemartin opened #100 "Japanese Translation"
Maintainer(s): @tsukukobaan

Please check out the [Translations Contributing Guidelines.](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations)

Original translations thread: #28

Interested in helping? Let us know!

[2017-09-15 00:20] donnemartin commented on #28
@tsukukobaan thank you!

I added you as a maintainer to https://github.com/donnemartin/system-design-primer/issues/100.

[2017-09-15 01:08] tsukukobaan commented on #100
Thanks for creating an issue here.
I'll be updating into this forked repo.
[https://github.com/tsukukobaan/system-design-primer/tree/translation_ja](translation_ja)

[2017-09-15 05:35] mingrammer opened #102 "Korean Translation"
Maintainer(s): @mingrammer

Please check out the Translations Contributing Guidelines.

Original translations thread: #28

Interested in helping? Let us know!

---

I will make a PR when done. I'm working on https://github.com/mingrammer/system-design-primer

[2017-09-17 21:19] donnemartin commented on #102
Awesome thanks @mingrammer!

[2017-09-18 13:47] pgoodjohn commented on #28
Hey guys, great work!
I'd love to help with an Italian translation if you think it might be helpful!

[2017-09-18 23:42] donnemartin opened #104 "Italian Translation"
Maintainer(s): @pgoodjohn

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Original translations thread: #28

Interested in helping? Let us know!

---

I will make a PR soon. I'm working on https://github.com/mingrammer/system-design-primer

[2017-09-18 23:43] donnemartin commented on #28
Sounds great @pgoodjohn, thanks for the help!

Check out https://github.com/donnemartin/system-design-primer/issues/104

[2017-09-22 12:42] pgoodjohn commented on #104
If anyone wants to contribute or review the Italian translation, you can find it [here](https://github.com/pgoodjohn/system-design-primer)!

[2017-09-22 15:40] 1boxingking commented on #104
Stop

On Sep 22, 2017 5:42 AM, "Pietro Bongiovanni" <notifications@github.com>
wrote:

[2017-09-23 22:56] myaser opened #107 "Design Amazon's sales rank by category feature"
Why one should perform distributed sort then stores data in a SQL database
[SQL tables don't preserve order](https://stackoverflow.com/a/7669383/1382198)

[2017-10-02 17:58] kinghadi opened #110 "Persian Translation"
Hi :)
- Maintainer(s): @kinghadi
- Please check out the [Translations Contributing Guidelines.][1]
- Original translations thread: #28
- I'm working on https://github.com/kinghadi/system-design-primer

Interested in helping? Let us know!

[1]:https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations

[2017-10-04 00:15] donnemartin commented on #110
@kinghadi awesome thanks!

[2017-10-11 21:16] sotayamashita commented on #100
@tsukukobaan still working?

[2017-10-11 21:53] tsukukobaan commented on #100
@sotayamashita
On progress

[2017-10-11 23:55] sotayamashita commented on #100
@tangkangkai Cool. Thx

[2017-10-27 04:43] tsukukobaan commented on #100
@donnemartin
Hi!
I apologize my sluggish contributions but my translation is finally done.
Please check the PR below
https://github.com/donnemartin/system-design-primer/pull/114

[2017-11-03 00:01] donnemartin commented on #100
@tsukukobaan wow, thank you!

We just need a native Japanese speaker to do a review, anyone interested?  @sotayamashita?

[2017-11-03 04:57] sotayamashita commented on #100
@donnemartin I can help.

[2017-11-03 06:13] SIkebe commented on #100
@donnemartin I wll too!

[2017-11-04 00:21] donnemartin commented on #100
Thanks @sotayamashita and @SIkebe!

[2017-11-04 15:07] sotayamashita commented on #100
@donnemartin I gave up reviewing because it does not have original content in Japanese in the PR and it's very hard to confirm. I am sorry. :bow:

[2018-01-18 21:58] umbs opened #126 "Anki flash cards errors"
The provided Anki flash cards is failing to load in desktop Anki software. I tried with all .apkg files

OO Design; System Design; System Design Exercises.

I'm using Anki 2.0.48 on Windows 10 laptop.

![anki_error](https://user-images.githubusercontent.com/1351872/35123532-6ccd71b2-fc57-11e7-87b3-d9cd43d62750.png)

[2018-01-20 06:13] tranlyvu opened #127 "Vietnamese Translation"
Hi, I created this issue to start working on Vietnamese translation

[2018-01-21 16:48] donnemartin commented on #127
Hi @tranlyvu, that would be awesome, thanks!

[2018-01-24 06:12] duynguyenhoang commented on #127
I also can help you @tranlyvu if you need a hand

[2018-01-30 17:52] Belonias commented on #28
Hi! I would like to help with the Greek Translation

[2018-02-08 00:55] donnemartin opened #130 "Greek Translation"
Maintainer(s): @Belonias

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Original translations thread: #28

Interested in helping? Let us know!

[2018-02-08 00:55] donnemartin commented on #28
@Belonias great!  I created https://github.com/donnemartin/system-design-primer/issues/130 for you.

[2018-02-19 21:53] usmanajmal opened #134 "Request: Adding average time-to-read with each topic/task will help in planing"
Mentioning a rough / average time-to-read a particular topic may help future readers plan their progress in a little better way, especially when they have an upcoming interview.

[2018-02-22 21:31] sleweddock opened #136 "Spanish translation"
Currently being translated.
If you'd like to translate into spanish please state so below

[2018-02-23 03:51] donnemartin commented on #136
@sleweddock thank you for helping with this translation!

[2018-02-26 11:57] navxx commented on #136
Hi!

I want to translate into spanish too

Best Regards!

[2018-02-28 02:42] #88 closed

[2018-03-01 22:15] gloriacruz commented on #136
Hi,
I would like to help with the translation of this super useful repo too.
I'm a native Spanish speaker (Latam/Mexico) living in San Francisco.
:)

[2018-03-02 02:46] kevingo opened #138 "Translation on solution part for Traditional Chinese"
Hi @donnemartin, in order to make Traditional Chinese version more complete, I want to work on the solution part. Is it ok with you?

My idea is to put the translation markdown inside each solution folder itself. For example,  I will put the mint solution at [https://github.com/donnemartin/system-design-primer/tree/master/solutions/system_design/mint/README-zh-TW.md](https://github.com/donnemartin

[2018-03-04 19:05] donnemartin commented on #136
@navxx @gloriacruz @kobernyk great!  Please coordinate with @sleweddock.

[2018-03-04 19:16] donnemartin commented on #138
@kevingo sounds good to me, thanks for the help!

[2018-03-05 01:15] kevingo commented on #138
@donnemartin OK, thanks!

[2018-03-05 01:15] #138 closed

[2018-03-05 07:12] WhatDream commented on #38
I'd glad to it.

[2018-03-06 22:47] sleweddock commented on #136
Through github @gloriacruz ! You can start translating, but please do state which file you are translating on this issue. I am currently translating the README.md

[2018-03-07 00:43] donnemartin commented on #136
Hey all, most of the translations will be the contents of README.md, so not sure if separating out work only by file is optimal.  You might want to work in a fork and coordinate on chunks of README.md.

Here's a good example of multiple people working together on a translation: https://github.com/donnemartin/system-design-primer/pull/60

[2018-03-11 06:45] kbakha commented on #126
Yes, the same occured with me.

[2018-03-11 06:46] kbakha commented on #126
Anki droid 2.0.50 - Version 2.0.50
Qt 4.8.1 PyQt 4.9.1.

[2018-03-14 11:46] cclauss opened #148 "Where is 'State' defined in social_graph_snippets.py?"
__State__ is currently an _undefined name_ in the context of social_graph_snippets.py so the code would raise a NameError at runtime.

Is __State__ merely an Enum with two items (__visited__ and __unvisited__) or is it more complex than that?  If it is just the simple Enum then perhaps it would be cleaner to rename the field to be __source.state_visited__ and use the values __True__ and __False__.

[2018-03-27 15:48] interviewbitiiit opened #150 "Can we have more explanation for Object Oriented design questions?"
Currently the answers are directly in code format, it is missing the ideas and concepts.
Would really appreciate if I can learn the thinking behind those answers, or any relevant link which can help.

[2018-03-29 19:06] farshad1880 commented on #126
i have the same problem.help me please

[2018-04-25 15:45] SamKChang commented on #126
the same for me on ankidriod v2.8

[2018-05-23 08:02] cclauss commented on #148
Any ideas on this issue?  It is the last of [blocking issues](https://github.com/donnemartin/system-design-primer/pulls?q=is%3Apr+author%3Acclauss+is%3Aclosed) for implementing #93 so it would be helpful to get a resolution.

[2018-06-28 05:46] panth opened #164 "Confusing word play in the definition of AP under CAP theorem portion."
The post says - "Responses return the **most recent version** of the data available on the a node, which **might not be the latest**."

Can this be changed or finetuned ? Maybe something like -

"Responses return the most **readily available version** of the data available on **any** node, which might not be the latest."
Again here we talking about multi-node system ( on account of P of CAP). So i

[2018-07-13 11:34] donnemartin commented on #164
@panth sounds good to me, would you like to submit a PR?

[2018-07-13 11:35] donnemartin commented on #150
@interviewbitiiit thanks for the suggestion!

[2018-07-13 11:35] donnemartin commented on #134
@usmanajmal thanks for the suggestion!

[2018-07-13 11:39] donnemartin commented on #148
@cclauss would you like to submit a PR?  We can define State as something like this:

[code]

[2018-07-14 07:04] panth commented on #164
Ok doing so now.

[2018-07-14 14:05] aymns opened #170 "Arabic translation"
Hi,

Thanks for the very interesting information there, I would like to contribute by translating the content to Arabic language.
I am a native Arabic speaker from Palestine, and i will maintain the content and will ask native speaker friends to review and help.

Thanks

[2018-07-14 23:57] donnemartin commented on #170
@aymns awesome thank you!

[2018-07-15 00:01] #148 closed

[2018-07-15 01:28] Eddie-CooRo opened #171 "Broken link"
"Crack the system design interview" Link is broken. Here is the new link to replace https://www.puncsky.com/blog/2016-02-13-crack-the-system-design-interview

[2018-07-15 03:56] yangmillstheory opened #172 "Clarify timeline"
![image](https://user-images.githubusercontent.com/2729079/42730378-3ac0f338-87a8-11e8-87c1-a3e672a7f4f8.png)

This is different for everyone, so how many hours/days/weeks of study go in to short/medium/long timelines? Is there a better way to present this?

[2018-07-15 18:06] LifeIsStrange opened #175 "Ever heard of gpgpu ?"
Thank you, this is quite complete, learned me a lot of things.

But GPU is by far™ the most powerful component of datacenters.

But yet there is no mention of gpu computing via openCL or HSA.

For example gpu can be used for databases
https://www.kdnuggets.com/2017/08/rise-gpu-databases.html

Also no mention of graphQL

[2018-07-18 20:33] albir292 opened #179 "albif"
msggu

[2018-07-18 22:12] voxuan commented on #127
As SE I think we don't need Vietnamese version :) Origin in English is enough.

[2018-07-19 05:52] #179 closed

[2018-07-19 05:53] donnemartin commented on #171
Hi @Eddie-CooRo, do you want to submit a PR?

[2018-07-19 05:55] donnemartin commented on #172
Hi @yangmillstheory, yes this is different for everyone, so it's hard to provide meaningful hours/days/weeks.  I'm open to suggestions.

[2018-07-19 10:12] aminebenamor5 commented on #28
Who want to translate to French translation :)

[2018-07-19 14:45] SabinDiwan commented on #110
Good one. Upfront SAYS Maintainer(s): @hadisinaee
Code=decode.HAD-IS-IN-AEE.
Spelling check<=>>>... . ...<haddeesanaeeei
Thanks to the one whoz done ENOUGH ALREADY .=many thanks
Al QURAN:I AM WAT MY SLAVE THINKS I AM.

???RIGHT?

[2018-07-19 14:51] SabinDiwan commented on #110
=ur limit is in ur eyes.U BE UR JUDGE.
Had e sanae .limitless blessing
HAD=u know
IS=
IN=inside
AEE=urdu>>>eyes

Result=lord WITHIN. Say thx often enough.(enough times) ====u wanna be forgiven.??

[2018-07-21 07:53] valarpirai opened #181 "Typo mistake - Base62 used instead of Base64"
In the **step-3-design-core-components** section
**Base62** is used. I think it is **Base64**

Link - https://github.com/donnemartin/system-design-primer#step-3-design-core-components

[2018-07-21 08:05] valarpirai commented on #181
There is a Base62 encoding available.
https://www.kerstner.at/2012/07/shortening-strings-using-base-62-encoding/

So closing the issue

[2018-07-21 08:05] #181 closed

[2018-07-21 14:02] jashgala commented on #171
Can I submit a PR for this?

[2018-07-22 00:30] aymns commented on #170
Arabic translation development repository:
https://github.com/aymns/system-design-primer/blob/develop/README-ar.md

----------------

Gitter Lobby for discussion:
https://gitter.im/system-design-primer-arabic-content/Lobby#

Regards,

[2018-07-23 06:13] donnemartin commented on #171
Looks like there's a PR already: https://github.com/donnemartin/system-design-primer/pull/180

[2018-07-24 17:58] IuryAlves commented on #40
Hi @EarlyChannelBR i was translating on my fork [https://github.com/IuryAlves/system-design-primer](https://github.com/IuryAlves/system-design-primer).

There is a PR for a partial translation: https://github.com/donnemartin/system-design-primer/pull/67/files

[2018-07-24 19:06] ricardovsilva commented on #40
@IuryAlves I'm going to review this PR no later than this weekend.

[2018-07-24 20:32] IuryAlves commented on #40
Thank you @ricardovsilva

[2018-07-25 01:56] donnemartin commented on #171
Fixed with https://github.com/donnemartin/system-design-primer/pull/180

[2018-07-25 01:56] #171 closed

[2018-07-27 21:25] Allaman opened #186 "German Translation"
Maintainer(s): @Allaman

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Original translations thread: #28

Interested in helping? Let us know!

---

Hi,

thanks for the awesome information provided in this repo! I would like to contribute by translating the content to German.
I am a native

[2018-07-28 02:56] donnemartin commented on #186
@Allaman awesome thank you!

[2018-07-28 13:47] eamanu commented on #136
Hello @sleweddock  I want to help with the translation!

Regards!

[2018-07-28 17:00] iphayao opened #187 "Thai translation"
Hello,

I would like to start translate this to Thai.

Thank you,
Phayao

[2018-07-30 02:07] donnemartin commented on #136
Hi @sleweddock, are you still interested in coordinating the Spanish translation?

[2018-07-30 02:07] donnemartin commented on #187
@iphayao awesome thank you!

[2018-07-30 22:48] sleweddock commented on #136
Hi @donnemartin ! Yes I am still interested!

@eamanu Please do state which file you'd be translating

[2018-07-31 00:15] eamanu commented on #136
Hi! There are some file translated yet? I could start with the README.md if this is not ready.

[2018-07-31 10:09] sleweddock commented on #136
@eamanu You can begin by translating the README.md

[2018-07-31 11:57] eamanu commented on #136
Thanks!! @sleweddock

I Fork this repo and create a branch. https://github.com/eamanu/system-design-primer/tree/spanish-translation

If you want follow or supervise.

Regards!

[2018-08-01 15:12] reza-agahi commented on #110
Hello, I'm interested in helping.
What can I do?

[2018-08-03 13:06] m90 opened #193 "What's the software used for creating the flowcharts?"
I much like the flowchart diagrams in this repository (the content too). May I ask what the software is that is being used for creating these? Are they drawn manually or is this automated in some way?

[2018-08-04 07:31] tranlyvu commented on #127
Hi,

Please simply pick a subsection you would like to work on and let me know

[2018-08-05 13:54] donnemartin opened #195 "Fix broken URLs"
Broken links "https://github.com/donnemartin/system-design-primer-primer" should be changed to "https://github.com/donnemartin/system-design-primer"

See: https://github.com/donnemartin/system-design-primer/pull/194

[2018-08-05 13:56] donnemartin commented on #193
Hi @m90 thank you! I use OmniGraffle drawing them manually with the tool, see https://github.com/donnemartin/system-design-primer/pull/48.

[2018-08-05 13:56] #193 closed

[2018-08-08 00:38] donnemartin commented on #110
@hadisinaee how can others help?

[2018-08-08 01:56] Hopshine commented on #38
need any help？ I am glad to

[2018-08-08 14:39] hadisinaee commented on #110
@reza-agahi would you mind reviewing my translation?

[2018-08-08 18:12] reza-agahi commented on #110
@hadisinaee Yes, of course. I will review it ASAP and share my comments with you :)

[2018-08-11 16:12] yperry opened #198 "Can you share with us the technic you used to create the design images?"
Can you share what app you used to create the design images and the source files?

( opening study_guide.graffle in omnigraffle doesn't look like your pictures.)
Thanks.

(and great knowledge source, btw)

[2018-08-12 03:02] donnemartin commented on #198
Hi @yperry thank you! I do use OmniGraffle, see #48 for all the OmniGraffle files.

[2018-08-12 03:02] #198 closed

[2018-08-12 14:08] reza-agahi commented on #110
@hadisinaee I just read the half of your translation and faced with these major issues:
- Perisan is a rtl language so it should be rtl!
- This is just a translation. You should not add/remove any sentences to it unless you can not convey the concept with literal translation.
- There are many mispelled words in the document.
- It is better not using conversational words and sentences like 'یاد بگی

[2018-08-13 00:49] #195 closed

[2018-08-13 12:14] omer-demir commented on #28
@hwclass @donnemartin for Turkish translation, do you guys need extra help?

[2018-08-14 03:11] TaceyWong opened #201 "The typesetting is too messy"
The typesetting is too messy

[2018-08-14 03:25] TaceyWong commented on #38
Engish:This issue should be turned off.（Should issue related to translation  be writed in  required language?）
Chinese:这个issue应该可以关闭了（涉及翻译的issue是不是应该用所需语言进行交流？）

[2018-08-15 02:17] donnemartin commented on #201
Hi @TaceyWong, are you referring to the font?

[2018-08-15 10:48] TaceyWong commented on #201
@donnemartin what I mean is "Page Layout & Page Organization & Content Index"
（sry for my poor English :(）

[2018-08-15 15:49] hadisinaee commented on #110
@reza-agahi Thank you for your comments. Would you mind making a pull request on my branch? So we can discuss changes there.

Branch: https://github.com/hadisinaee/system-design-primer/tree/persian-translation

[2018-08-19 19:42] mhf-ir opened #203 "DNS layer to elect loadbalancer health"
How about to dns layer work as service discovery? Wich load balaner must be elect ?
Load balancer network may cuase problem or even might be any problem such as any layer of system.

DNS layer can work via simple mechanism to figure it out wich load load balancer ip resolve that client connect to it.

The simple line between client and load balancer is more complicated.

[2018-08-25 22:00] dvanbrug commented on #126
I found the same error.  When inspecting the file that is downloaded from the link, it looks like an HTML file.  If I go to the file in the git repo directly and download the raw version, I am able to successfully import them.

E.g. the following link should work:  https://github.com/donnemartin/system-design-primer/blob/master/resources/flash_cards/System%20Design.apkg?raw=true

[2018-08-27 17:49] LeshaRB commented on #87
will the translation be updated?

[2018-08-28 10:08] mhf-ir commented on #203
Just add simple Record could be simple record for consul example:
[code]
And consul health check interval the health check on nodes of load balancers

[2018-08-29 00:48] donnemartin commented on #126
Can anyone confirm?  PRs are welcome :)

[2018-09-02 18:10] #126 closed

[2018-09-06 02:38] duynguyenhoang commented on #127
@tranlyvu
Let me handle below subsections first
* https://github.com/donnemartin/system-design-primer#availability-vs-consistency
* https://github.com/donnemartin/system-design-primer#consistency-patterns

[2018-09-13 20:34] Oxicode commented on #136
+1

[2018-09-13 23:07] ivanbuha opened #211 "Suggestion: Include OLTP vs. OLAP"
Hi there, recently came across comparison of OLTP and OLAP databases. I think it would be nice to include this information to existing notes. Let me know if you might need my help.

[2018-09-18 02:42] IAmPramod commented on #134
@donnemartin we can safely assume that 200 words are read per minute. But we also have estimate average time to have basic understanding of technical terminologies as well as concepts for a particular topic.

[2018-09-18 02:44] IAmPramod opened #214 "Add links for reference material for Message Queues section."
- We should reference links for Redis, RabbitMQ, Amazon SDS under Message Queues section.
- Add a link for Amazon SQS in `Design Mint.com` README.md

[2018-09-18 02:45] IAmPramod commented on #214
@donnemartin I will raise a PR shortly for this.

[2018-09-22 20:18] Ashniu123 opened #219 "Suggestion: Include Active Directory (AD)"
Active Directory is very popular and helps organize the company's users, computer and more.
I think AD is very important to know.
Let me know if I can contribute this to the repo.

[2018-09-25 22:38] dmast3r commented on #28
@hwclass How about Hindi translation?

[2018-09-26 04:37] IAmPramod commented on #28
@dmast3r not sure how hindi translation will help.

[2018-09-30 11:39] aminebenamor5 commented on #28
@hwclass what about Arabic and French Translation?

On Wed, Sep 26, 2018 at 5:40 AM Pramod Gupta <notifications@github.com>
wrote:

[2018-09-30 15:28] IAmPramod commented on #63
@berrytchaks Probably I'm late for the party but recently I was asked similar question in an interview.
I think what amazon does is allow all the customers to place the orders for the items and place the orders in a asynchronous to check the availability later.

This is probably the reason why they don't the confirm the order as and when you place it.

[2018-10-01 00:38] #214 closed

[2018-10-01 01:02] nutboltu opened #220 "Bengali Translation"
Maintainer(s): @nutboltu

Please check out the Translations Contributing Guidelines.

Original translations thread: #28

Interested in helping? Let us know!

I am Bengali native speaker and would like to maintain Bengali translation. I already started working on it.

[2018-10-01 15:41] gdelacruzfdez commented on #136
Hello. I would like to collaborate in translating to Spanish.

How can I help?

Regards!

[2018-10-04 00:08] donnemartin commented on #220
@nutboltu awesome thank you!

[2018-10-06 02:54] smileusd opened #222 "哈佛大学可扩展性讲座 地址无效"

[2018-10-06 09:50] tolgacesur commented on #39
is this still open?

[2018-10-06 10:37] ogeday26 commented on #39
@mertcancam

[2018-10-08 06:41] geekgao commented on #222
CS75 (Summer 2012) Lecture 9 Scalability Harvard Web Development David Malan
有效啊，科学上网即可。

[2018-10-08 11:08] senpl opened #223 "Anki decs not easly imported"
When I tried to import anki decs to anki mobile app it states that decks can not be simply imported. I think they should be easly imported with default settings or have description how to import them correctly.

[2018-10-08 20:23] enzoferrari commented on #28
Ty

[2018-10-09 07:46] hasanbozok commented on #39
@tolgacesur Hi,

Are you going to work on translating this project into Turkish? If not, I am thinking of translating it. Please inform us about this topic.

[2018-10-09 10:09] tolgacesur commented on #39
@hasanbozok Hi

I'm not working on it. I can help you if you need.

[2018-10-09 10:34] hasanbozok commented on #39
@tolgacesur okay, I am thinking about translating. I will share my progress with you.

[2018-10-14 05:09] mishar commented on #223
i have seen this in mac version of anki too. [screen shot 2018-10-14 at 1 08 37 am](https://user-images.githubusercontent.com/1500693/46912804-b6235380-cf4d-11e8-92fd-f67801a6cf81.png)

[2018-10-15 07:06] htfy96 opened #225 "[Request] Mention NewSQL in article"
Nowadays we can have both SQL query interface and strong consistency. Example: Aurora, Spanner,  CockroachDB.

[2018-10-15 10:29] sqrthree commented on #222
@smileusd The link is valid. You can't access it just because of GFW.

@donnemartin this issue can be closed.

[2018-10-18 04:11] sarathsp06 commented on #86
is it still open ?

[2018-11-01 04:10] mkamilov opened #228 "Mutex lock/unlock latency"
It is given as 100ns in the table and 25ns in the visualization.

[2018-11-15 01:42] donnemartin commented on #222
@geekgao @sqrthree thanks!

[2018-11-15 01:42] #222 closed

[2018-11-15 01:43] donnemartin commented on #223
Hi, seems this doesn't fix the issue?  https://github.com/donnemartin/system-design-primer/pull/206

[2018-11-15 09:11] saurav-2104 commented on #228
Raised three PR's one for each language.

[2018-11-15 19:16] junjizhi opened #234 "Twitter solution: How are search/notification/user info services designed?"
In the [twitter example](https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/twitter/README.md), I didn't see the discussion on the architecture of the microservices, e.g., search/notification/user graph services. The [diagram](https://camo.githubusercontent.com/f7f74718418c9b3d552d1f061cce920d2f50e81c/687474703a2f2f692e696d6775722e636f6d2f3438744541326a2e706e67

[2018-11-17 16:17] FunMyWay opened #235 "Anki Error on Launching using Ubuntu 18.10"
I'm using Ubuntu 18.10 on Lenovo Thinkpad:
I get this error right after the install using Ubuntu software install ....after installed ...when pressing <launch button>:
_____________________________________________________
Error during startup:
Traceback (most recent call last):
  File "/usr/share/anki/aqt/main.py", line 50, in __init__
    self.setupUI()
  File "/usr/share/anki/aqt/main.py", line

[2018-11-21 01:36] abrarisme opened #236 "Latency numbers every programmer should know update"
Isn't the section for **Latency numbers every programmer should know** outdated? I went to the following page to get interactive numbers for 2018: https://people.eecs.berkeley.edu/~rcs/research/interactive_latency.html

Example:
- reading 1 million bytes from SSD we get 78 microseconds instead of 1ms
- mutex lock/unlock is 17ns instead of 100ns

[2018-11-21 05:55] IAmPramod commented on #236
@abrarisme This article is great.
@donnemartin we should change the latency numbers

[2018-11-22 06:10] mkamilov commented on #228
I wonder what is the source of 100ns and 25ns and which one is right value

[2018-11-22 06:17] anonymousedzika commented on #228
I speak indonesia , not english
Pada tanggal 15 Nov 2018 4.13 PM, "Saurav Gupta" <notifications@github.com>
menulis:

[2018-12-08 05:18] daniel-zhang0 commented on #32
@donnemartin would you say that the older links still contain relevant information as well? (not exactly clear on your definition of "solid")

[2018-12-19 02:17] #228 closed

[2018-12-25 19:43] MaxNevermind opened #243 "Cassandra maintains only clustering keys in lexicographic order."
You can find this in the main README.md file:

This part is misleading, Cassandra maintains only clustering keys in lexicographic order, partitioning key is responsible for distributing rows across nodes which means you can efficiently retrieve ranges only for rows with the same partitioning key.

[2018-12-27 17:03] kaczord commented on #243
show

[2018-12-29 18:39] stevenqzhang opened #244 "Article suggestion: Web architecture 101"
I thought this was an exceptionally well written high-level overview of modern web architecture, and short too (10 min)

https://engineering.videoblocks.com/web-architecture-101-a3224e126947

Perhaps worth putting next to the CS075 course notes?

[2019-01-05 16:33] jrrus commented on #235
I am running Ubuntu 19.10 on an HP Envy 8300.  I get the same message when I try to launch Anki.
Anki shows up in the System Monitor. If I use System Monitor to kill Anki, the same message is repeated when I try to start Anki again.

[2019-01-05 16:34] jrrus commented on #235
sorry, that was a mistype.
I am running Ubuntu 18.10

[2019-01-05 17:11] jrrus commented on #235
I loaded Ubuntu 18.10 on an HP touchscreen laptop and Anki starts and synchronizes with AnkiWeb on this system.

[2019-01-23 14:31] mostafazh commented on #170
@aymns I'm very interested in helping :smiley:

[2019-01-23 22:11] aymns commented on #170
@mostafazh awesome, you can review my [commit](https://goo.gl/EEh5bk) on [forked repository](https://github.com/aymns/system-design-primer/blob/develop/README-ar.md)
Or you can start translating any section you would like.

please feel free to join the Gitter lobby for discussion here; https://goo.gl/X5gqEa

Thank you 👍

[2019-01-26 21:48] mostafazh commented on #170
sure, can you open a PR inside your repo from your develop branch to your repo's master branch? so I can add my comments and we can move the discussion there.

Shukran :+1:

[2019-01-27 13:58] aymns commented on #170
@mostafazh created, [#2](https://github.com/aymns/system-design-primer/pull/2)
🙏

[2019-01-27 23:44] Acarus opened #248 "Ukrainian translation"
Maintainer(s): @Acarus

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Original translations thread: #28

Interested in helping? Let us know!

Repo: https://github.com/Acarus/system-design-primer

[2019-01-28 21:21] myartsev commented on #4
Would be great to have a PDF as a github "release"

[2019-02-03 12:32] donnemartin commented on #248
@Acarus @Kietzmann awesome thank you!

[2019-02-06 21:12] spuyet opened #249 "Fix languages list consitency"
Hi,

FWICS all the listed languages in readme are in english unless:
- Japanese
- Simplified Chinese
- Tawanese Mandarin

They shouldy probably be translated too, WDYT ?

[2019-02-07 17:08] spuyet opened #250 "French translation"
Maintainer(s): @spuyet

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Original translations thread: #28

Interested in helping? Let us know!

Translation branch: https://github.com/spuyet/system-design-primer/tree/add-french-translation

[2019-02-10 12:39] donnemartin commented on #249
@spuyet sounds reasonable to me, thanks for the suggestion!

[2019-02-10 12:40] donnemartin commented on #250
@spuyet awesome thank you!

[2019-02-10 15:41] spuyet commented on #249
Ok, will do a PR

[2019-02-17 18:34] scokmen commented on #39
is this still open? I want to translate this article into Turkish. Thanks

[2019-02-17 21:15] tolgacesur commented on #39
@scokmen Hi,

@hasanbozok didn't share his progress with us. I think he isn't working on it so you can start to translate it. Please let us know if you start to translate this article.

[2019-02-18 00:22] CharlieGai commented on #38
Which part needed to be translated?

[2019-02-19 05:20] scokmen commented on #39
@tolgacesur  Hi,
I started the translation.

[2019-02-19 08:03] minostro opened #254 "[Anki Cards] Reference Url all broken"
The reference urls used in the Anki cards are all broken because they point to a non-existing/deleted(?) repo. e.g.: https://github.com/donnemartin/system-design-primer-interview#document-store

The fix is easy. We just need to change `system-design-primer-interview` for `system-design-primer`.

I have the time to make the changes. However, I am not sure how to export the apkg file with my changes

[2019-02-21 11:31] vshelke opened #256 "Design Uber.com"
Diagram for the design of uber.com which involves architecture for real-time tracking.

[2019-03-28 11:45] vnkomv commented on #250
hello @spuyet , i'm interested in helping with the translation.

[2019-03-28 13:15] spuyet commented on #250
Hey @vnkomv, that's a good news :smiley:
I started to work on the french translation here: https://github.com/spuyet/system-design-primer/blob/add-french-translation/README-fr.md

Feel free to open PR, let me know if you want to focus on a specific part to avoid duplication of work ^^

[2019-04-06 18:52] devdil opened #265 "Add references to Geo Based DNS"
Most companies aks about Geo based DNS. The article needs to be highlighted

References:
https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html
https://constellix.com/dns/geo-dns-services/geo-dns-explained/

[2019-04-10 00:50] donnemartin commented on #254
Hi @minostro, thanks for reporting this!  I vaguely recall exporting the apkg file isn't straightforward and I recall there isn't a good way to diff changes.  I'll put this on my TODO list.

[2019-04-10 02:04] minostro commented on #254
@donnemartin I can work fixing this if you want me to.

[2019-04-12 10:43] srkn commented on #39
What is the current situation for this translation? @scokmen

[2019-04-12 17:31] Poltergeisen opened #267 "Examples of how to create a design diagram"
Are there any references on how to create a good design diagram? What do the different colors mean? What do the dashed lines mean?

Sorry if this is a basic question but I don't even know where to start searching for more information. This is the first page I saw that had the diagrams in the format that I've seen before.

[2019-04-13 08:56] devdil commented on #236
These numbers are very relative

[2019-04-19 19:05] devdil opened #271 "Should we have a slack channel to help and connect members ?"
@donnemartin i was thinking of opening a slack channel for the members and contributors to help other peers online in advising and helping out when necessary.

[2019-04-20 18:33] EladLeev opened #272 "Hebrew translation"
Hey guys,
I found myself sending it over and over to people, so I decided to create Hebrew translation as well 😄

WIP here:
https://github.com/EladLeev/system-design-primer/tree/he-translate

[2019-04-23 17:25] Dipiert commented on #136
Hi! I would like to help with the translation. I'm a native Spanish speaker from Argentina

[2019-04-24 16:55] chenjienan commented on #271
I think it's a good idea.

[2019-04-24 16:58] devdil commented on #271
I am not sure about the free version of slack and how many members it can
accommodate, can you create one or shall I create ?

On Wed, 24 Apr 2019 at 10:26 PM, Terence Chen <notifications@github.com>
wrote:

[2019-04-24 17:17] chenjienan commented on #271
Either way works.

[2019-04-24 21:52] a1025b1104 commented on #271
If I could pleaseget someone to help me with this? I just signed up for it
but I'm not sure what I'm doing. Thank you for emailing this message and I
look forward to hearing from you soon.

Brandy Dills

On Wed, Apr 24, 2019, 1:20 PM Terence Chen <notifications@github.com> wrote:

[2019-04-25 09:07] ehiggs commented on #271
Discord or Gitter are options as well.

[2019-04-28 14:04] gamesover opened #274 "Question about `Redis is useful as a simple message broker but messages can be lost.`"
I have no question about redis is worse than professional message broker like RabbitMQ.

But I have a doubt about redis will lose messages. I am not sure whether the author used redis as a message broker before. As per my past exp, redis won't lose messages neither restart the server nor failed to implement the messages.

Thanks for your detailed explanation.

[2019-04-28 14:08] gamesover commented on #271
Discord is better

[2019-04-28 15:35] anvnguyen commented on #274
I think it depends on what kind of message broker it is. In detail, there are 2 popular ways to implement a redis message broker: Pub/Sub or RPOPLPUSH
You can have a prompt comparison here to understand in which circumstance message can be lost.
https://medium.com/@anvannguyen/redis-message-queue-rpoplpush-vs-pub-sub-e8a19a3c071b

[2019-04-28 15:43] gamesover commented on #274
@anvnguyen , interesting article. Thanks very much for your info. It seems I am not used pub/sub model before via sidekiq. +1

[2019-04-30 00:59] gpDA commented on #102
@mingrammer  How it is going so far? Need any help on it? I love to join and contribute!!

[2019-05-07 03:59] pbanavara opened #277 "Pastebin/bitly system design - write to cache missing in diagram"
In the solution for the pastebin/bitly system design, the write to cache flow is missing in the second diagram which refers to the scaling aspect. The cache has only a read arrow but not a write arrow. The diagram will be more intuitive if a write-through/write-back cache mechanism was indicated.

[2019-05-07 10:12] donnemartin commented on #136
@sleweddock @eamanu how can others help with the translation?

[2019-05-07 10:16] donnemartin commented on #272
@EladLeev awesome thank you!

[2019-05-08 11:19] baitian77 opened #278 "第二步：回顾可扩展性的文章对应的链接打不开"
ps：我已翻墙

[2019-05-08 23:21] sleweddock commented on #136
Use my fork (https://github.com/sleweddock/system-design-primer), take a file and begin translating it, please do state before which file you are translating.

Once you have finished your translation, update it here with the name of the file that you translated

I have added :
@gdelacruzfdez @Dipiert @Oxicode @eamanu @navxx @kobernyk
as collaborators on the previously stated fork

[2019-05-09 09:09] pbanavara commented on #236
If you move the slider to 2019 the figures change a bit. It's 62 microseconds for 1M SSD read. So we need to change the Readme. I am more than happy to do this and submit a PR. Is that how this works ?

[2019-05-09 09:37] devdil commented on #236
Yes, Please include block size also. As far my knowledge, thats the typical
latency in SSD (random read) for a 4KB block.

Thanks
Diljit

On Thu, May 9, 2019 at 2:41 PM Pradeep Banavara <notifications@github.com>
wrote:

[2019-05-09 09:38] devdil commented on #236
Yes, Please include block size also. As far my knowledge, thats the typical
latency in SSD (random read) for a 4KB block.

Thanks

On Thu, May 9, 2019 at 2:41 PM Pradeep Banavara <notifications@github.com>
wrote:

[2019-05-12 11:02] rsophie275 opened #279 "一切都刚刚开始 郭文贵 https://www.guo.media"

[2019-05-13 00:49] #279 closed

[2019-05-13 01:45] morenoh149 commented on #256
I know they use a lot of go because they need to have tight control on the latencies for all their services. JVM could have also been a good choice for this reason.

[2019-05-13 01:47] morenoh149 commented on #42
Terraform, ansible and Jenkins are good oss solutions here. If on aws code deploy and codepipeline are good solutions.

[2019-05-13 01:58] morenoh149 opened #281 "Design an exchange (like nasdaq or binance)"
Would adding a solution for designing an exchange be welcome? I was asked this once and did not do well.

Some resources:
https://youtu.be/b1e4t2k2KJY
https://around25.com/blog/building-a-trading-engine-for-a-crypto-exchange/
http://bhomnick.net/building-a-simple-limit-order-in-go/

[2019-05-14 09:52] mercanil commented on #39
Hello Guys,
Please update us on the status of translation. Do you need help ?

[2019-05-17 07:06] leohzhuang commented on #278
me too

[2019-05-17 23:21] Danilo-Araujo-Silva commented on #271
Please someone open a slack, gitter or discord for us =)

[2019-05-18 02:49] donnemartin commented on #271
Happy to try this out with https://github.com/donnemartin/system-design-primer/pull/283, although I don't have much time nowadays to actively manage this chat :)

[2019-05-18 22:44] Klaudioz commented on #136
Hello,
I'd like to help with the translation.
I'm a native Spanish speaker and a Devops engineer working in Salt Lake City, UT.

[2019-05-19 14:54] obegendi commented on #39
Hello everyone,
I can help translation if you need help. Please let me know.
Thank you.

[2019-05-19 15:58] JamesYu608 opened #284 "Is there a trade-off between performance and scalability?"
https://github.com/donnemartin/system-design-primer#performance-vs-scalability

Does a system have to sacrifice performance for scalability?
Even if I read the sources, I still can't get it.
Why is there a trade-off between them?

[2019-05-20 07:06] scokmen commented on #39
Hi,
I will complete the translation process in a short time

[2019-05-20 14:12] morenoh149 commented on #284
Take for example database isolation levels (http://highscalability.com/blog/2011/2/10/database-isolation-levels-and-their-effects-on-performance-a.html) in a perfect world we would like to perform all operations on a database in a serial way. That is, operations happen in order as they are received by the engine. However in practice no production-level database performs operations in a serializabl

[2019-05-23 07:16] emreakay commented on #39
Merhabalar, Türkçe Dökümantasyonu 4 gözle beklemekteyiz.
İyi Çalışmalar.

[2019-05-23 12:03] q13973791409 commented on #278
what r u saying

[2019-05-29 08:27] sqrthree commented on #278
@baitian77 Can you provide more information? For example, which link is broken?

[2019-05-29 09:55] artkpv opened #285 "Point this course at resume?"
Hi! Thanks for maintaining this list of important work on system design. I wonder how one can write about this course at the resume / CV? If it goes to the Education section then it needs some credentials. If in the Projects section then it needs some measurable outcome.

[2019-06-03 03:55] hectorv commented on #4
Similar to https://github.com/donnemartin/system-design-primer/pull/207, we could have something like this:
[code]
but it's not perfect, it still needs some tweaking.

[2019-06-04 12:02] IAmPramod commented on #256
@vshelke Creating a design diagram of real-time tracking of uber.com will be really difficult. Instead we can focus on core functionalities of app.

[2019-06-09 14:56] staftermath opened #288 "Design a parking lot not complete?"
Browsing through the solution to **[Design a parking lot](https://github.com/donnemartin/system-design-primer/blob/master/solutions/object_oriented_design/parking_lot/parking_lot.py)**, it seems the current solution is not addressing the some constraints, and are missing some implementation
1. bus need to take 5 consecutive spots.
   a. `Bus.can_fit_in_spot` not checking number of available spots

[2019-06-15 19:27] Platinumwrist commented on #271
Yeah that's a great idea thanks

[2019-06-18 08:24] murari-goswami commented on #220
Is it done ?

[2019-06-18 23:24] nutboltu commented on #220
@murari-goswami I am now stuck on other stuffs. It would be great if you would like to contribute on this translation. You can fork my branch and start translating the rest.

[2019-06-19 05:01] nitinsurana opened #291 "Design key-value store like Redis but link points to introduction"
Hi
Thanks for this awesome primer. I love it!
While surfing through the primer, I found this
https://github.com/donnemartin/system-design-primer/blob/master/README.md#additional-system-design-interview-questions
which has
Design a key-value store like Redis, but the slidershare.net link points to an introduction of Redis and not really the design/architecture.
Technically, it should point to infor

[2019-06-20 04:37] xncbf commented on #28
Hi! I would like to help with the Korean Translation

[2019-06-25 06:38] mehmetkose commented on #39
@scokmen I have checked your fork and nothing going on there? can you keep updated your fork?
this is not Git works right?

[2019-07-21 10:28] p1v0t commented on #39
Hi... Translating a document around ~1800 lines for one person might be overwhelming depend on the experience on translating technical document and when we consider they have a full time job.

If someone interested in, we can share the work load, and translate it in a collaborative way, like x guy translate from this header to that header, y guy translate that header to that line etc.

Let's discu

[2019-07-21 10:38] tsukukobaan commented on #39
somebody or nobody does it.
https://github.com/donnemartin/system-design-primer/pull/114
Good luck guys.

[2019-07-25 16:30] envy7 opened #309 "Add database clustering"
With mysql8 we can setup an innodb cluster, I feel that can be included in this primer. It can be added in the list of ways we can setup High Availability for databases.

[2019-07-29 02:01] LiangShang opened #311 "Cache might be overwrite by the old version in "Design KV for web""

[2019-08-16 19:04] njacharya opened #313 "Availability patterns description"
A description is incomplete. It should mention:

These patterns are not competing, but complementing each other. To achieve availability, one needs both fail-over and replication.

right after

"There are two main patterns to support high availability: fail-over and replication. "

[2019-08-25 16:56] Zamy97 commented on #220
@nutboltu I'd love to work on this and start getting involved with open source as I have been meaning to do so for a while but don't know where & how to start.

If you can point me in the right direction in where I can get started with this I'd very much appreciate.

[2019-08-27 05:54] nutboltu commented on #220
@Zamy97 you can fork my branch and start working on it.
https://github.com/nutboltu/system-design-primer/tree/bn-translation
Let me know which section you would like to translate.

[2019-08-28 19:52] sunkuet02 commented on #220
@nutboltu @Zamy97 I am very much interested to work with you. If you don't start system design solutions [solutions/system_design](https://github.com/nutboltu/system-design-primer/tree/master/solutions/system_design) then I want to start from that part.

[2019-09-11 06:18] xiaowei1235 commented on #278
@sqrthree link to "Step 2: Review the scalability article" is broken, aka, http://www.lecloud.net/tagged/scalability/chrono.

[2019-09-11 06:20] xiaowei1235 commented on #278
Can we have some backup links?

[2019-09-11 22:16] Peppershaker opened #322 "Help with MQs"
Could someone please provide an explanation to the following

Redis is useful as a simple message broker but messages can be lost. (Why lost?)

Amazon SQS is hosted but can have high latency and has the possibility of messages being delivered twice. (Why possibly delivered twice?)

[2019-09-11 22:45] riandyrn commented on #322
For SQS it is because internally our message is being sent to multiple servers for redundancy and high availability.

Sometimes one of the server that stores the message copy is unavailable when you issue receive or delete message. When such things happens, the message copy would be still stored at that unavailable server.

When the server become available again then you issue receive message, you

[2019-09-20 20:55] #322 closed

[2019-09-25 08:55] CraKeyBoy opened #326 "flash cards not support anki night model"
It's a nice project. I have used Anki to study, and Anki now supports night model. But some card display unnormal in night model.  Please fix this problem, Thx.

[2019-10-04 20:37] a1025b1104 commented on #271
Hey,

I just signed the petition "Summitmedia Knoxville: Opie and Carina for the
morning show!!!" and wanted to see if you could help by adding your name.

Our goal is to reach 5,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/DBrJPHXS24

Thanks!
Brandy

[2019-10-09 09:22] hdchinh commented on #127
But many other people need it, you should keep silent because if you can not do anything for Vietnamese users, at least do not dispirit the people who want to dedicate to the community!

[2019-10-09 13:47] duynguyenhoang commented on #127
I am translating it after months.

I have my branch here https://github.com/duynguyenhoang/system-design-primer/blob/feature/initial_viVN_translation_127/README-vi-VN.md. It is translated actively

Feel free to give idea

p/s: I am not so good at philosophy, really need different contributions

[2019-10-19 23:06] Masuzu commented on #271
@devdil @chenjienan @Danilo-Araujo-Silva @donnemartin @Platinumwrist
Let's give this a try!
https://discord.gg/atpwBQX
You will also find there a few other useful resources not necessarily related to system design but extremely relevant to Software Engineering interviews, which is probably the thing most people following this great repository are gunning for.

[2019-11-05 11:20] cashlo opened #334 "How is the size of the tweet calculated in "Twitter timeline and search""
https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/twitter/README.md#calculate-usage

There are more tweets than users, why is the tweet_id smaller than user_id?
Why is the text 140 bytes?
How is the media stored?

Would be nice to clarify these to explain how we come up with these numbers.

[2019-11-06 10:02] zinozzino commented on #102
It seems **there is no progress at all since july 2018**, So i decided to contribute my own.
I am working on https://github.com/zinozzino/system-design-primer/tree/issues/102 .

[2019-11-07 13:36] art-in opened #335 "OSI stands for Open Systems Interconnection (not Open Source Interconnection)"
![4158c3ce816fe61d664672052cf09e79](https://user-images.githubusercontent.com/671082/68393138-704eb400-017c-11ea-9510-a9d767390457.png)

Should be "OSI (Open Systems Interconnection) 7 Layer Model"

https://www.iso.org/ics/35.100/x/

[2019-11-24 20:31] mwissem commented on #170
I want to join you, I am a native Arabic speaker from Tunisia

[2019-11-26 07:37] kt1755 commented on #127
Can I contribute for this?

[2019-11-26 14:36] tranlyvu commented on #127
Yes please

[2019-12-02 02:12] danielyaa5 opened #337 "For the twitter problem, why is the user_id 32 bytes and a tweet_id only 8 bytes?"
I would assume there would be more tweet_ids than user_ids. Also when showing the schema for redis memcache, user_id is referred to as an 8 byte value.

[2019-12-02 04:17] danielyaa5 opened #338 "Web Crawler Service does not use the reverse_index_queue"
Although the class for the service is initiated with the reverse_index_queue, there is no code that shows anything being pushed to the queue when a link is crawled

[2019-12-02 16:11] arkban opened #339 "`generate-epub.sh` doesn't check for `pandoc`"
I cloned and ran `generate-epub.sh` and got:
[code]

I think some checking of return values is needed in `generate-epub.sh`

[2019-12-04 14:24] eamanu commented on #136
Hi @Klaudioz you can continue this work: https://github.com/eamanu/system-design-primer/tree/spanish-translation

[2019-12-09 17:36] vicksbr commented on #40
Hello! I want to help in this project so just let me know what i can do!

[2019-12-10 12:00] tbayzin commented on #87
Useful translate.

[2019-12-12 09:09] plusOneSecond commented on #38
Is the translation completed?

[2019-12-16 19:00] binakot commented on #87
Any updates?

[2019-12-16 21:08] IuryAlves commented on #40
@vicksbr

I haven't worked in the translation for a long time.

Maybe I need to hand it over to someone else.

cc @donnemartin

[2019-12-18 20:36] Platinumwrist commented on #271
I beleive we should have chats to help connect members my fault had a few issue's I had to iron out but new Hp windows to so I'm learning new desktop would be most helpful

[2019-12-24 15:35] Agade09 opened #344 "Typo in "Load balancer" flashcard"
"Seesion" should be "session".
At "Load balancers can route traffic based on various metrics, including:
Random
Least loaded
Seesion/cookies
"

[2019-12-25 09:35] Agade09 commented on #344
"Database" flashcard also has the typo "tranaction" which should be "transaction".
At "**Consistency**- Any tranaction..."

[2019-12-26 17:33] Agade09 commented on #344
In the "Design twitter" page it says
"The new tweet would be placed in the Memory Cache, which populates user's home timeline (activity from people the user is following)."
should it not be
"The new tweet would be placed in the Memory Cache, which populates **the** user's home timeline (activity from people the user is following)."

[2019-12-26 17:35] Agade09 commented on #344
In the "Design a web crawler page" it says
" If this is not a reasonable assumption, we can seed the crawler with popular sites that link to outside content such as Yahoo, DMOZ, etc"
which is missing some punctuation after "etc"

[2019-12-28 12:05] Agade09 commented on #344
In the "Design mint.com" page there is a code snippet
`'DefaultCategories.HOUSING': income * .4,
'DefaultCategories.FOOD': income * .2
'DefaultCategories.GAS': income * .1,
'DefaultCategories.SHOPPING': income * .2
...`
which looks like it is missing a comma after the first .2 and possibly after the second as well.

[2019-12-31 06:30] jiffies opened #346 "Awesome. 借楼招个人"
字节跳动教育线新项目，大投入，千亿级市场，服务端工程师大量缺口，各级别都要。项目主要使用Golang/Python，但是语言不做要求，可以来了再学。研发直招渠道，快速反馈，支持年前面试(可以远程面试)，年后报道，北京、上海都有HC。完整简历请投邮箱 lichengqian@bytedance.com。邮件标题：在线教育+姓名

[2020-01-05 08:40] Da-boy opened #347 "I'd glad to it."

[2020-01-07 05:20] neesara commented on #164
@donnemartin Shall I go ahead and make the changes and create a PR?

[2020-01-07 14:42] AlexandreCarvalhoMelo commented on #347
What kind of issue is this one?
Please show positive feedback some other way

[2020-01-07 14:43] AlexandreCarvalhoMelo commented on #344
Very good feedback Agade09

[2020-01-07 14:48] AlexandreCarvalhoMelo commented on #40
Hey i'd like to keep on working on the Translation, how can we?

[2020-01-08 03:38] ArthurG opened #349 "Are the MapReduce code in the System Design Sections still relevant?"
With new(er) tech such as Spark, and Hive, I'm not sure how many people would be writing new code using MapReduce. Should we be converting the code examples in the solutions into SQL or DataFrame code?

 (Note: I'm currently a student so take my opinions w/ a grain of salt :) )

[2020-01-13 06:18] Kazaf123 opened #352 "Update Pull Request Template"
When I read the pull request, sometimes it is hard to read, so I suggest that update a Pull Request Template will make them more readable. Such as:
######Description

######Check List

######My PR Type is:

Thank you!!

[2020-01-15 06:47] zhanghuijun1988 opened #353 ""lazy symbol binding failed" when running generate-epub.sh"
./generate-epub.sh
Generating 'en' ...
dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin
  Referenced from: /usr/local/bin/pandoc
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: ____chkstk_darwin
  Referenced from: /usr/local/bin/pandoc
  Expected in: /usr/lib/libSystem.B.dylib

./generate-epub.sh: line 3:  4889 Abort trap: 6           pandoc --metadata-file=

[2020-01-15 19:17] mihaimaruseac commented on #352
Seems to be spam
![VCA6DzWKgeZ](https://user-images.githubusercontent.com/323199/72463619-84202300-3788-11ea-9d4b-08ac8683f524.png)

[2020-01-16 00:02] #352 closed

[2020-01-16 07:27] ghost opened #354 "Weighted Round Robin in DNS section points to a broken link."
This is the link, it points to: https://g33kinfo.com/round-robin-vs-weighted-round-robin-lb/

[2020-01-17 05:11] cem8kaya commented on #39
I would like to be a part of this work, could you please share the work load with me ?

[2020-01-17 05:36] suryart commented on #354
This is fixed in https://github.com/donnemartin/system-design-primer/pull/351

[2020-01-18 21:00] mhf-ir commented on #203
Adding dns layer for check status of serve server:

gdnsd:
https://github.com/gdnsd/gdnsd/wiki/GdnsdPluginHttpStatus

Also on powerdns:
https://blog.powerdns.com/2017/12/15/powerdns-authoritative-lua-records/

[2020-02-05 07:25] ringanta opened #359 "Indonesian translation"
Maintainer(s): @ringanta

Indonesian is my native language

Please check out the [Translations Contributing Guidelines](https://github.com/donnemartin/system-design-primer/blob/master/CONTRIBUTING.md#translations).

Interested in helping? Let us know!

Translation branch: https://github.com/ringanta/system-design-primer/tree/add-indonesian-translation
Indonesia README file: https://github.com/ring

[2020-02-09 10:33] IuryAlves commented on #40
@vicksbr @AlexandreCarvalhoMelo

I have done a fork of this project for the PT-br translation.

https://github.com/IuryAlves/system-design-primer

You can pick up one of the open tickets.

[2020-02-17 12:16] akdnfbf opened #362 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 13:39] geanfelipe commented on #362
wtf

[2020-02-17 13:51] devdil commented on #362
Is there a github bot to stop spammers

On Mon, 17 Feb 2020 at 7:11 PM, Gean Felipe <notifications@github.com>
wrote:

[2020-02-17 15:02] helen119 opened #363 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 19:24] heken375 opened #364 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-19 08:49] shireefadel opened #366 "Print is fixed with one language."
When I am trying to print the readme file, it will preview the Chinese language not the displayed language

[2020-02-19 17:20] kate5586 opened #368 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:30] renata117 opened #369 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 08:33] milena5511 opened #372 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 23:51] akhi1312 commented on #339
Use this  brew install pandoc

[2020-02-27 16:10] sqrthree commented on #346
An ad, and it's nothing to do with the current project. @donnemartin

[2020-02-27 19:51] gromovadarya90 opened #375 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:00] renata2216 opened #376 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #377 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:23] renata7738 opened #378 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 06:26] helen78989 opened #387 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-04 14:17] assmdx opened #389 "Is there a formula which can give an answer about .."
I mean,
for example  I want to build a sytem, and I know about 100 request/sencond to my server and 20 write sql/second,

is there an formula to tell me how to design this system,and how to choose hardware??

[2020-03-04 14:30] devdil commented on #389
Depends upon a lot of things, your data access pattern , your caching
patterns scale of users, reads vs writes.

On Wed, 4 Mar 2020 at 7:48 PM, Zhenchuan Ren <notifications@github.com>
wrote:

[2020-03-09 13:39] dharmaturtle opened #390 "Reverse index vs. inverted index"
Hi!

[Design a key-value cache to save the results of the most recent web server queries](https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/query_cache/README.md#design-a-key-value-cache-to-save-the-results-of-the-most-recent-web-server-queries) and [Design a web crawler](https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/w

[2020-03-09 13:46] dharmaturtle commented on #285
Make a project implementing these ideas or use these principles at work. Credentials/education count for little in the programmer world.

[2020-03-25 01:17] bshaibu commented on #390
@dharmaturtle I'm pretty sure you're right - even the original [Google paper](http://infolab.stanford.edu/~backrub/google.html) refers to these sort of indexes as an _inverted_ index. Reverse indexes are very different.

I'd open a PR, but I'm not sure how to update the images.

[2020-03-27 17:18] raghuveer31462 commented on #272
Sir or ma'am
     I want to create a Hebrew pls pls help me any one

[2020-04-03 19:34] bonomoon commented on #102
Can I contribute to translate them? There seems to be no progress.
I referred to @zinozzino [repo](https://github.com/zinozzino/system-design-primer/tree/issues/102). I'm working on https://github.com/bonomoon/system-design-primer/blob/readme-kr/README-kr.md

[2020-04-08 08:04] ianbrayoni opened #397 "Replace "master" and "slave" terms"
Inspired by this [change request](https://bugs.python.org/issue34605)

`master` and `slave` are a reminder of a painful world history, that is, they are racially charged terms.

I move that we purge these terms in favour of:

- `primary`, `replica`
- `primary`, `secondary`

Popular open-source communities have adopted newer references:
https://github.com/django/django/pull/2692
https://github.com/

[2020-04-12 23:39] voitau commented on #87
Hi Everyone, I would be happy to contribute to one of my favorite github repos. I started translation of the project in this fork: https://github.com/voitau/system-design-primer/blob/master/README-ru.md

I'm using the translation link from the first post in this thread, where it is possible. Besides adding content which is already missing, some text is also updated to match better the semantics of

[2020-04-14 19:59] acbnelsalvador commented on #313
Gracias por los que comenten pero soy nuevo en esto y estoy en prueba y error aprendiendo.

[2020-04-16 08:29] gnehsuy opened #401 "网络爬虫核心技术教程，点此获取☞"
![c5896b844e918f67269114e6c3174ad](https://user-images.githubusercontent.com/13401581/79433267-7be1b900-7fff-11ea-9906-8916b3aad3c9.png)

[2020-04-16 12:45] ssquan opened #402 "Normally, the passive server won't take over the IP address of active server in the case of failover"
![Uploading image.png…]()

The passive server may become active server,  but normally,  they won't change their IP address.

[2020-04-16 14:53] horoyoiiv commented on #102
So where can I contribute?

[2020-04-16 18:08] sj123050037 commented on #402
The passive server takes the IP active one when it finds the active one dead, this is how the new traffic goes to the passive one. Read about the concept of elastic IPs in AWS.

[2020-04-17 00:39] lossend opened #403 "ttttttt"

[2020-04-17 03:17] ssquan commented on #402
Is Elastic Ip in AWS the IP address of Nginx-like server?

[2020-04-17 03:53] sj123050037 commented on #402
Check out this lecture at time 1:20:40, where the professor talks about this concept. https://www.youtube.com/watch?v=-W9F__D3oY4&list=LL7DWD8TZslgDI9Oo2pM6mfQ&index=6&t=14s

Also, check out - How the HA Solution Works here for Nginx where they talk about the virtual ip address - https://www.nginx.com/products/nginx/high-availability/

[2020-04-17 08:25] bonomoon commented on #102
I don't know where we can contribute public. So,
So I'm just working my [repo](https://github.com/bonomoon/system-design-primer).

[2020-04-17 10:20] ssquan commented on #402
Thanks a lot,  @sj123050037, awesome lecture!  It's great to use a virtual IP address to handle the single point failure of Load Balance servers.

[2020-04-17 10:20] #402 closed

[2020-04-17 11:23] horoyoiiv commented on #102
@bonomoon I'll work on there

[2020-04-17 12:24] bonomoon commented on #102
Okay, The main branch is readme-kr. I think it would be better to send pull-request to there.  If you want to translate other docs, Please make other branch (ex. OOP-kr ).

[2020-04-18 23:46] #403 closed

[2020-04-27 02:54] voitau commented on #87
jfyi, translation is in progress. Sections left:

* Cache
* Asynchronism
* Communication
* Security

Links and headers will be updated as soon as complete document translation is done (followed by proofreading).

[2020-05-06 01:21] YuanhuiLouis opened #410 "please ignore this and just close it"

[2020-05-06 02:22] polyzen commented on #410
You are able to close the issues you open.

[2020-05-06 06:06] #410 closed

[2020-05-07 17:03] hoooga commented on #401
This is an advertisement which is not related to this repo and should not be here. Please close this issue.

[2020-05-09 09:38] geekgao commented on #401
Something wrong with you @gnehsuy
Close this issue.

[2020-05-10 00:37] RuiZhang2 opened #412 "Why we need MapReducer to deduplicate if the Web Crawler use Redis Sorted Set"
In part "Use case: Service crawls a list of urls" we store links_to_crawl in a set, which could prevnets duplicate URL. Besides, if we have a similar page, web crawler would reduce the priority of the page link. It would avoid getting into infinite loop.

Given that we use Redis Sorted Set, why do we need MapReducer and how could it filters out the URLs with only 1 frequency now. Is there any more

[2020-05-11 02:59] BruceDone commented on #401
how dare you ?

[2020-05-11 04:34] voitau commented on #87
Update: translation of sections is complete.
Actions left:
* Update link names and actual references
* Proofread.

[2020-05-11 05:51] DmitryOlkhovoi commented on #87
HI, I'm going to provide the MD file of my work in Google Drive. Hope that helps

[2020-05-17 19:54] skilledDeveloper opened #415 "DNS diagram not accurate"
The diagram in [this section](https://github.com/donnemartin/system-design-primer#domain-name-system) is not accurate.
Before the request finds its way to the ISP DNS Server, it would check the local DNS cache which is managed by the operating system.  It only goes to the ISP DNS if the local DNS cache doesn't have the answer (or it's expired due to TTL).

[2020-05-18 18:39] amitkumar50 opened #416 "System design for Cache (Eg: memcached)"

[2020-05-26 15:53] D3ADB0N3S opened #419 "Python iterations"
Hello please may I have some help I need help with this question that I find difficult and my teacher only showed examples not these ones and he hasn't explained since we are in qurantine. Write a program that reads in a series of numbers and adds them up until the user enters zero (this stopping value is often called a rogue value).

[2020-05-26 18:05] saadbitcoin opened #420 "miner"
Making a personal Bitcoin mining site

[2020-05-28 13:48] BalajiG2000 commented on #419
@D3ADB0N3S  I hope this is the code you are expecting
[https://github.com/BalajiG2000/Basic_programming/blob/master/add_series_till_roguevalue.py](url)

[2020-05-28 14:35] D3ADB0N3S commented on #419
@BalajiG2000 There is an intended block on this line of code here user_input = int(input("Enter a number:"))

[2020-05-29 05:19] BalajiG2000 commented on #419
@D3ADB0N3S  Now it's fine. This error indicates that there is a problem with indentation.
You can check out this code here:
[https://github.com/BalajiG2000/Basic_programming/blob/master/add_series_till_roguevalue.py](https://github.com/BalajiG2000/Basic_programming/blob/master/add_series_till_roguevalue.py)
And make sure you use a python version of 3 or above
user_input = None
total_sum = 0
while

[2020-06-05 22:10] guillermocol opened #422 "Tkinter Library"
Hi, I am trying to use Tkinter library for Python in Centos 7 with no luck. I was before using it with Ubuntu and no issues, but with Centos even I installed it, it shows when I run the code that the tkinter library doesn't exist.

Any recommendations, would you use a different library for this purpose (creating menus in applications)?

Thank you,
guillermo

[2020-06-06 18:51] voitau commented on #87
https://github.com/voitau/system-design-primer/blob/master/README-ru.md - translation is ready. Going to do a another proofreading iteration(s) before PR to main repo. Contributions are welcome.

[2020-06-06 19:45] minyoungan commented on #87
unsubscribe

On Sat, Jun 6, 2020 at 2:53 PM Alex Voitau <notifications@github.com> wrote:

--
*Minyoung An*

[2020-06-11 05:45] Deniswanja opened #424 "About python"
Am an upcoming programmer and I have challenges on how to code using python how will you help me

[2020-06-11 15:56] crimeminister commented on #424
This is not the place for the sort of help I think you're looking for. I would suggest giving [this book](https://diveintopython3.net/) a read and joining one of the many programmer instructional and self-help communities. A site like [StackOverflow](https://stackoverflow.com/) comes to mind. Good luck.

[2020-06-15 05:50] Willempipi commented on #397
You are is sooo racist! Let me guess, they should also ban the word "black"?

Please stop keeping racism alive with this stupid shit.

[2020-06-15 10:26] CamAnNguyen commented on #397
It's the keywords/terminologies to related technical area. You can try to search for "primary-replica architecture" and see the [results](https://www.google.com/search?q=primary-replica+architecture&oq=primary+replica+arch&aqs=chrome.1.69i57j0.2433j0j7&sourceid=chrome&ie=UTF-8).

[2020-06-16 03:01] brjoha opened #426 "Question: Which software was used to make the system design diagrams?"
<eom>

[2020-06-21 03:04] Platinumwrist commented on #271
I think and believe this would be very beneficial

[2020-06-25 04:21] tonnystark commented on #127
We are going on this plan?

[2020-06-25 06:46] kt1755 commented on #127
I'm still on the line, but with very slow progress. I'm getting stuck with my personal plan.

[2020-06-28 09:41] namtx opened #431 "Question: About memcached persistency"
Regarding this line:
https://github.com/donnemartin/system-design-primer/blame/master/README.md#L707
is it correct if memcached is persistence cache? IMO, it’s only true for Redis, not Memecached.

[2020-07-01 20:30] guillermocol commented on #422
Hi donnemartin, let me know who you could refer for this topic. thank you.

[2020-07-03 01:33] donnemartin commented on #102
Hi @bonomoon, @mingrammer: Appreciate your help with the translation, just checking to see how things are progressing?

[2020-07-03 01:34] donnemartin commented on #87
Hi @voitau, @DmitryOlkhovoi: Appreciate your help with the translation, just checking to see how things are progressing?

[2020-07-03 01:36] donnemartin commented on #170
Hi @aymns: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:38] donnemartin commented on #220
Hi @nutboltu: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:40] donnemartin commented on #40
Hi @IuryAlves : Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:40] donnemartin commented on #250
Hi @spuyet: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:41] donnemartin commented on #186
Hi @Allaman: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:42] donnemartin commented on #130
Hi @Belonias: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:42] donnemartin commented on #272
Hi @EladLeev: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:44] donnemartin commented on #104
Hi @pgoodjohn: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:45] donnemartin commented on #136
Hi @eamanu: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:46] donnemartin commented on #187
Hi @iphayao: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:46] donnemartin commented on #39
Hi @hwclass, @canerbaran, @emrahtoy: Are any of you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:47] donnemartin commented on #248
Hi @Kietzmann, @Acarus: Are you still interested in translating the guide and being the language maintainers?

[2020-07-03 01:47] donnemartin commented on #127
Hi @tranlyvu, @duynguyenhoang: Are you still interested in translating the guide and being the language maintainer?

[2020-07-03 01:53] nutboltu commented on #220
@donnemartin thanks for reaching out. I can still review the PRs. But I have less bandwidth to complete the entire project. That's would be really helpful if I get more contributor.

[2020-07-03 02:14] tranlyvu commented on #127
@donnemartin yes please

[2020-07-03 02:58] Belonias commented on #130
Hi @donnemartin: Yes, I will start working on it asap.

[2020-07-03 03:31] duynguyenhoang commented on #127
Yes please @donnemartin

[2020-07-03 07:04] EladLeev commented on #272
Wow, it's been over a year, sorry for that. :disappointed:
Yes, I do want - I will try to clear some time for it or get some help with it.

Thank you again for all your work

[2020-07-03 08:45] avihaybar commented on #272
Hi guys,
I've started adding to the Hebrew translation [here](https://github.com/avihaybar/system-design-primer/tree/new_heb).
Would love to help @EladLeev with maintaining this as well.

[2020-07-03 20:32] Allaman commented on #186
Hi @donnemartin oh my gosh :facepalm: two years
Well, basically yes. I "just" have to find some time :mag:

[2020-07-04 01:18] #346 closed

[2020-07-04 01:22] #164 closed

[2020-07-04 01:24] #339 closed

[2020-07-04 01:28] donnemartin commented on #272
@EladLeev @avihaybar what's the best way for you both to coordinate?

[2020-07-04 01:31] donnemartin commented on #127
@tranlyvu @duynguyenhoang what's the best way to coordinate?  Do we have a main translation fork?

[2020-07-04 01:34] donnemartin commented on #220
@nutboltu no problem, thanks for the update.  What's the best way to coordinate with others such as @Zamy97 and @sunkuet02...should we use the https://github.com/nutboltu/system-design-primer/tree/bn-translation fork?

[2020-07-04 01:47] donnemartin commented on #426
Hi @brjoha, I use OmniGraffle, see #48.

[2020-07-04 01:47] #426 closed

[2020-07-04 01:49] #424 closed

[2020-07-04 01:50] #419 closed

[2020-07-04 01:50] #420 closed

[2020-07-04 01:52] donnemartin commented on #416
Hi @amitkumar50, there are several linked cache resources already, hoping that's sufficient.

[2020-07-04 01:52] #416 closed

[2020-07-04 01:55] donnemartin commented on #359
Hi @ringanta: Are you still interested in translating the guide and being the language maintainer?

[2020-07-04 07:26] cem8kaya commented on #39
Hi @donnemartin , you can include me.

[2020-07-04 08:34] EladLeev commented on #272
Good to know @avihaybar !
I'll be in touch in mail so we can proceed together.

[2020-07-04 09:46] jamespaycheck13 commented on #272
By phone

On Sat, Jul 4, 2020, 4:40 AM Elad Leev <notifications@github.com> wrote:

[2020-07-04 14:11] hwclass commented on #39
If there is nothing coming up from @scokmen (https://github.com/donnemartin/system-design-primer/issues/39#issuecomment-493863596), let's organise and do the thing 👍 Count me in +1 & ping here to start.

Also would like to hear from @canerbaran & @emrahtoy.

[2020-07-04 14:35] nutboltu commented on #220
@donnemartin that would be really great if @Zamy97  and @sunkuet02  started working on my fork repo.

[2020-07-04 15:49] donnemartin commented on #422
Hi @guillermocol, sorry this is not the right repo for this topic.

[2020-07-04 15:49] #422 closed

[2020-07-04 15:59] donnemartin commented on #389
There isn't a straightforward answer to this question, check out the exercises for examples on how one might build intuition around this.

[2020-07-04 15:59] #389 closed

[2020-07-04 16:00] donnemartin commented on #366
Sorry I'm not able to help with this question.  Are you looking at [this file](https://github.com/donnemartin/system-design-primer/blob/master/README.md) when printing?

[2020-07-04 16:00] #366 closed

[2020-07-04 16:02] donnemartin commented on #354
Fixed with https://github.com/donnemartin/system-design-primer/pull/351.

[2020-07-04 16:02] #354 closed

[2020-07-04 16:06] #347 closed

[2020-07-04 16:08] donnemartin commented on #344
Hi @Agade09, thanks for catching these, the flashcards are due for an update.  If you see these typos in the main README feel free to submit pull requests.

[2020-07-04 16:13] donnemartin commented on #313
Hi @njacharya good catch.  Anyone want to submit a pull request?  I think changing this:

To this:

Would bring more clarity.

[2020-07-04 16:16] #223 closed

[2020-07-04 16:26] donnemartin commented on #285
Hi @artkpv I'd go the route of applying what you learn from this guide in some manner.

[2020-07-04 16:26] #285 closed

[2020-07-04 16:28] donnemartin commented on #281
Hi @morenoh149, feel free to submit a pull request adding a line item in this section:

https://github.com/donnemartin/system-design-primer#additional-system-design-interview-questions

[2020-07-04 16:31] donnemartin commented on #291
Hi @nitinsurana is there a better link we can add?

[2020-07-04 16:32] Agade09 commented on #344
I sent a pull request for the README typos of 'design twitter' and 'design web crawler'. The missing comma on 'design mint.com' seems to have been fixed 4 days ago.
After merging the pull request only the two Anki flashcard typos would remain.

[2020-07-05 03:00] njacharya commented on #313
https://github.com/donnemartin/system-design-primer/pull/439

From: Donne Martin <notifications@github.com>
Date: Saturday, July 4, 2020 at 09:13
To: donnemartin/system-design-primer <system-design-primer@noreply.github.com>
Cc: Nachiket Acharya <Nachiket.Acharya@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [donnemartin/system-design-primer] Availability patterns description (

[2020-07-05 03:02] nacharya-msft commented on #313
created new pull request: https://github.com/donnemartin/system-design-primer/pull/439

[2020-07-05 14:50] #313 closed

[2020-07-05 16:18] ringanta commented on #359
Sure, I am glad being the Indonesian language maintainer for this repository.
I can see the benefit of spreading the knowledge in this repository and make it more accessible for other people especially engineers who have Indonesian as their mother language and see English as a barrier.

[2020-07-07 02:35] Zamy97 commented on #220
Working full-time Internship this summer so got such limited time on my hand but I am hoping when the fall semester I'll have some time and goal is to some make progress then. @sunkuet02 feel free to take on this if you have the capacity to.

[2020-07-07 15:10] naomijub opened #442 "Add Nubank Engineering Blog"
Nubank is a Latin American bank with Datomic, Clojure and Flutter in its tech stack
https://medium.com/building-nubank

[2020-07-08 01:32] jjlupa commented on #415
Is that correct? I thought name resolution was generally OS independent, but for most stacks it checks /etc/hosts (different windows equivalent), then looks up DNS servers from resolve.conf.  Only way that is your own machine is if you are running local bind or dns server.

[2020-07-08 02:01] skilledDeveloper commented on #415
@jjlupa
‘ipconfig /flushdns’ in windows and ‘ sudo killall -HUP mDNSResponder’ in Mac flush the lical dna cache and designed for exact same reason.

[2020-07-08 09:36] bonomoon commented on #102
Hi, @donnemartin I hope you are doing well. The translation has not progressed much because of my personal reasons. If you want to check the progress, Please check this [readme-kr](https://github.com/bonomoon/system-design-primer/blob/readme-kr/README-kr.md). Thank you.

[2020-07-08 18:37] amitkumar50 opened #443 "Twitter Use Case(Uploading, Fannout Tweet) [Review]"
[Use case Diagram][https://i.ibb.co/rsZvt8F/twitter1.png)

[Half Baked Design](https://github.com/amitkumar50/Code-examples/blob/master/System-Design/scalable/twitter/README.md)

[2020-07-10 00:14] ferasawadi commented on #170
Hi there, am really interested in Translation into Arabic.
am From Palestine, Currently living in Istanbul if this still available let me know, please.
warm regards
Feras

[2020-07-10 02:09] nutboltu commented on #220
Forked repo:  https://github.com/nutboltu/system-design-primer/tree/bn-translation
Contributors: @Zamy97 @sunkuet02 @nutboltu
Further discussion channel: https://discord.gg/NaptYt
**Intro Sections**
- [ ] Motivation @nutboltu
     - [ ] Learn how to design large-scale systems @nutboltu
     - [ ] Learn from the open source community @nutboltu
     - [ ] Prep for the system design interview @nutbol

[2020-07-10 02:11] nutboltu commented on #220
@Zamy97 @sunkuet02 I listed all the sections above so that we can pick one by one to start translating. Please assign yourself to any of the sections you would like to translate.
For any further discussion feel free to join this discord channel: https://discord.gg/NaptYt

[2020-07-10 12:18] IuryAlves commented on #40
Hi @donnemartin

I am not active maintaining it. All the translation that I did is [here](https://github.com/IuryAlves/system-design-primer)

[2020-07-10 14:53] iphayao commented on #187
@donnemartin Sorry, I haven't start to translate yet. You can add or replace for maintainer in Thai translation.

[2020-07-12 11:54] julianShi opened #445 "Fix the reference URLs of the solution READMEs in the zh-Hans version修改中文答案链接"
Should change links like from
solutions/system_design/pastebin/README.md
to
solutions/system_design/pastebin/README-zh-Hans.md

[2020-07-12 11:54] julianShi commented on #445
This is a quick fix. You can leave it to me.

[2020-07-12 16:00] #281 closed

[2020-07-13 01:14] israelpgjm commented on #277
Duplicate of #

[2020-07-14 01:25] donnemartin commented on #445
Hi @julianShi do you want to open a pull request to fix the solution links?

[2020-07-15 11:48] nutboltu opened #446 "Feature request: Improve readability by moving the contents into a site"
First of all, a huge thanks to @donnemartin . This repository is the source of truth to all the resources of the system design and you have shown your great effort to maintain this masterpiece.

I truly follow the resources and I believe it really helps others as well. But reading the resources on one page, sometimes make my work harder. I couldn't navigate properly, I have to scroll up and down t

[2020-07-15 12:45] tejasa97 commented on #446
@nutboltu this is awesome!

[2020-07-17 07:52] research-sudo opened #448 "Inquiry About the Microservice Architecture Employed by `system-design-primer`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_system-design-primer_** project (https://github.com/donnemartin/system-design-primer) is designed by the microservice architectural style.

Can you please **_confirm_** if my interpretation that

[2020-07-17 13:56] iravitejakumar commented on #335
Hi @donnemartin Can you review the PR which I sent to resolve this issue ?

[2020-07-19 08:41] madhav5589 commented on #7
Any plans on this feature?

[2020-07-20 19:37] Orinfini opened #449 "System desing prime"

[2020-07-22 13:12] spuyet commented on #250
Hello @donnemartin, yes I'm still interested, but doesn't have much time yet, if someone has more time to work on this you can give it to him :wink:

[2020-07-31 12:03] Rafatlne commented on #220
Hi @nutboltu. I want to work on this on free time. Is the discord invitation still open? Seems the invitation is expired.

[2020-07-31 12:12] nutboltu commented on #220
@Rafatlne Sorry for the link. here's the latest link: https://discord.gg/Eng8QH8

[2020-07-31 17:10] higher2016 opened #452 "RDMS - Sharding, The way of shard table"
There is a sentence in [](https://github.com/donnemartin/system-design-primer#sharding) -- "Common ways to shard a table of users is either through the ... or the user's geographic location". I think it would be better to emphasize that the user's data distribution may be uneven when the user's geographic location is used to shard the table. For example, the users are mainly concentrated in a cert

[2020-08-02 18:04] donnemartin commented on #397
Thanks @ianbrayoni, please see https://github.com/donnemartin/system-design-primer/pull/217.

[2020-08-02 18:10] #335 closed

[2020-08-03 08:57] ianbrayoni commented on #397
Great!

[2020-08-03 08:57] #397 closed

[2020-08-03 13:43] Rafatlne commented on #220
I am now working on `Additional system design interview questions`

[2020-08-04 21:19] jasonlicn opened #455 "screen 123 needs a redesign"
screen 123 needs a redesign, more details are here.

[2020-08-11 08:05] simanto604newscred opened #457 "is graphql related to graph data structure?"
In this [solution](https://github.com/donnemartin/system-design-primer/tree/master/solutions/system_design/social_graph#state-assumptions): It says -->`"Exercise the use of more traditional systems - don't use graph-specific solutions such as GraphQL or a graph database like Neo4j"`

My question is how **graphql** is used or utilizes Graph Data Structure?

[2020-08-24 00:15] chapmanc opened #460 "KV cache for web queries has wrong backend calculations."
https://github.com/donnemartin/system-design-primer/tree/master/solutions/system_design/query_cache#design-a-key-value-cache-to-save-the-results-of-the-most-recent-web-server-queries

The section for storage calculations seems incorrect.

Each Query (50Bytes) would have a list of results with a title (20 Bytes) and a snippet (200 Bytes). The readme says then that each query will have a cache size

[2020-08-25 05:50] jsatterfield commented on #415
The diagram is wrong about what the roots do. They only resolve the TLD namesevers, which resolve the authoritative nameservers for the desired domain, which resolve the host you're looking for (or nameservers of a subdomain).

As for the clients, `mDNSResponder` is technically a resolver with a cache, not a "DNS Server" even tho it's also a multicast dns responder. I don't thing it ever goes thro

[2020-08-28 05:09] Azooze0533 commented on #424
- #@hgtr_****_

[2020-08-28 05:17] Azooze0533 commented on #452
Gshwu João **h**

[2020-08-28 05:18] Azooze0533 commented on #452
Uwywy

[2020-08-28 05:18] Azooze0533 commented on #272
Hwiokz. Mas d****

[2020-08-28 05:18] Azooze0533 commented on #130
VHS

[2020-08-28 05:20] Azooze0533 opened #462 "Uísque"
Uísque

__Originally posted by @Azooze0533 in https://github.com/snakeoil-ltd/cloud-caching-wallet/issues/1#issuecomment-682330853__

[2020-08-28 14:41] terra9 opened #463 "Question - Is their a repo as comprehensive as this for Algorithms & Data Structures?"
I have searched but have not came across something as comprehensive as this.

[2020-08-28 19:03] SarokGaming2 opened #464 "hi"

[2020-08-28 22:12] prasadgujar opened #465 "Please Add Resources for Low-Level System Design."
Hello,  @donnemartin
Thanks for the great compilation for the system design resources but one important thing is missing from this as a great collection of resources is Low-Level Design resources.
taking inspiration from the system design primer I created the low-level design primer which is similar to the system design primer.
Please add the below resources for the low-level system design as well

[2020-09-03 20:03] rahilsh commented on #463
@terra9 Try https://github.com/jwasham/coding-interview-university and https://github.com/kdn251/interviews

[2020-09-07 07:31] mfahmawi commented on #170
It would be my pleasure to contribute in the translation of this piece of art document to Arabic language

[2020-09-07 08:05] aymns commented on #170
@donnemartin sorry for late reply, maybe it's better if someone more available can take the lead on maintatining the translation to Arabic. I'm still interested in this project. so I would still like to contribute and will be more active during the next months.

@ferasawadi @mfahmawi  please feel free to check the [forked repository](https://github.com/aymns/system-design-primer/blob/develop/READM

[2020-09-12 19:03] Arunm619 commented on #464
hello xD

[2020-09-14 13:09] mikowhy commented on #68
Hi @taniotanio7,
is polish translation project till alive?

[2020-09-18 16:18] JoseMiralles commented on #463
@rahilsh Thank you for that link, that's exactly what I've been looking for.

[2020-09-19 13:41] rahilsh commented on #463
@JoseMiralles You are welcome

[2020-09-19 23:27] nsarvar opened #471 "Uzbek translation"
I would like to help with Uzbek translation, it would be an awesome guide for Uzbek students
@donnemartin

[2020-09-21 17:24] jbvsmo opened #475 "HBase link is dead"
At the wide column store:
https://github.com/donnemartin/system-design-primer#wide-column-store

This link on the word "HBase" is dead as it gets redirected to something else totally irrelevant:
https://www.mapr.com/blog/in-depth-look-hbase-architecture

[2020-09-22 08:40] Hikai commented on #102
I translated all of them and put a pull request. #476

[2020-09-22 16:17] srbose opened #477 "Request: distributed design problem"
A problem for addition to the examples: Design a system that tracks the routes of all delivery vehicles in a fleet for later analysis of most optimum route deviation.

[2020-10-04 14:55] AdityaSoni19031997 commented on #291
The link should point to [this](https://www.slideshare.net/dvirsky/introduction-to-redis)

[2020-10-05 22:46] chikobara commented on #170
Hi,

Thanks for the very interesting information there, I would like to contribute by translating the content to the Arabic language.
I am a native Arabic speaker from Syria, and I will maintain the content and will ask native speaker friends to review and help.

Thanks

[2020-10-06 07:31] aymns commented on #170
Hello @chikobara ,

You can start by contributing to the forked repo [here](https://github.com/aymns/system-design-primer/blob/develop/README-ar.md).

We can communicate using this gitter channel https://gitter.im/system-design-primer-arabic-content/Lobby.

Thank you,

[2020-10-08 04:26] JITES commented on #452
Can I try adding some theory for this?

[2020-10-13 15:30] edisonywh opened #482 "Request: Add GraphQL in the `Communication` section"
In the disadvantages for REST section, there are a few references (such as adding more fields to clients that don't need it) that is a great segue to introducing GraphQL.

Would be nice to see GraphQL get a little more attention :)

[2020-10-21 12:26] ayusopatricia commented on #136
Hello!
I'm a native Spanish speaker with +10 years of experience in the industry.
I've reviewed Coursera courses previously and I would like to help here translating or reviewing.
Any guidelines to begin?

[2020-10-29 07:59] jmakhack commented on #464
hi hi     (˳˘ ɜ˘)˳ ♬♪♫

[2020-10-30 01:12] #464 closed

[2020-11-08 10:42] pfongkye commented on #250
Hello @spuyet and @donnemartin,
I'm interested in contributing if it's still relevant.

[2020-11-09 13:27] spuyet commented on #250
Hello @pfongkye, your contribution is welcome, I just merged master in: https://github.com/spuyet/system-design-primer/blob/add-french-translation/README-fr.md

You can make a PR at anytime :)

[2020-11-10 01:34] weisk commented on #136
Hey there, I'll gladly take this one.

Lets put some order on this mess already, this beauty needs to be accessible to everyone!

[2020-11-10 02:50] ayusopatricia commented on #136
Cool @weisk let me know if I can help.

[2020-11-10 12:07] TitanArmy commented on #86
thanks for advise

[2020-11-15 05:53] varunbpatil opened #490 "web crawler design: page signature being computed after it is being used"
![image](https://user-images.githubusercontent.com/1353218/99177918-1b9d2c00-2734-11eb-871b-f97efeb4e3d2.png)

In the above image, `page.signature` is being used to check whether a similar page has already been crawled, but, `page.signature` is not set until `crawl_page()` is called.

IMO, `page.signature` should be a _cached_property_ of the `Page` class.

[code]

[2020-11-19 17:00] weisk commented on #136
@donnemartin bump?
@ayusopatricia sure, lets see if the owner can find a moment for us 😊

[2020-11-24 02:07] MrPeker commented on #39
Hi @donnemartin & @hwclass 👋

I would like to contribute to Turkish translation. Count me in +1.

[2020-11-25 07:57] 1krishnasharma commented on #28
I am new to GitHub can anyone direct me on how to contribute to this program and about this project

[2020-11-25 08:10] 1krishnasharma commented on #477
I m new to GitHub can u please tell me what is exactly the issue is?
And how can I contribute to it?

[2020-11-29 17:21] aymsite opened #493 "Correcting RPC mention of Protobuf with mention of gRPC"
In the RPC chapter, Protobuf is mentioned as one of the popular RPC framerworks.
Protobuf is actually a serialization mechanism that can indeed be used with a RPC framework such as gRPC, originated by Google, as is Protobuf.
I suggest replacing the sentence :

with

[2020-11-29 17:56] aymsite commented on #493
My proposed PR https://github.com/donnemartin/system-design-primer/pull/494

[2020-12-06 21:40] Btrfly79 commented on #482
I am so sorry, that was not me!!  My hacker got on.  I just talked to Apple, they're replacing all of my devices tomorrow and I'm getting new routers everything.  I did want to comment on your post about getting hired by Amazon....CONGRATULATIONS!!  I'm a newbie too well newer than you.  So once my new device is secure I'll be checking all that out if you don't mind.  Also, I'm an experienced Heal

[2020-12-06 21:44] Btrfly79 commented on #412
Thank you for fixing, again sorry!  This guy apparently used to do this a lot here and I recognized his code and have been sharing what I could.  He's been banned or I'm not sure the correct word.  Don't worry, he will be gone once I sign out.  I changed my password and please any of you if you see anything from him later today or tomorrow email or call me.

[2020-12-09 15:55] josechavarriacr commented on #136
Hi there, Are they continue need tonhelp with the translation into Spanish? I would very much like to help.
I'm native Spanish speaker too, I'm from Costa Rica

[2020-12-12 19:50] LeapVader commented on #136
Hi @weisk, @ayusopatricia, I'm interested in helping to translate this beatiful resource too, I'm a Computer Engineer native Spanish speaker so I would be very happy to help.

[2020-12-15 09:29] fr13ndly-alien commented on #127
you don't, but student does

[2020-12-16 19:10] zeeshaanahmad opened #495 "line arrows are not clear on dark mode on images/jj3A5N8.png"
On GitHub dark mode, the line arrows in the image images/jj3A5N8.png are not clear. Changing the color should make them more visible.
![system-design-primer_jj3A5N8_png_at_master_·_donnemartin_system-design-primer](https://user-images.githubusercontent.com/6726022/102394828-59b79500-3feb-11eb-924e-43b689432ccc.png)

[2020-12-22 10:22] Clijsters commented on #186
I would love to support you translating this. Is it still in progress?

[2020-12-22 20:21] Allaman commented on #186
Hi @Clijsters, unfortunately I have not found time for it so you can say it is still in progress :)

[2020-12-23 09:43] duclm2609 commented on #127
Nếu bạn không làm gì làm ơn im lặng để người khác làm. Cảm ơn.

[2021-01-05 19:19] ManuKashyap01 commented on #495
@donnemartin I would like to resolve this issue if u like.

[2021-01-11 16:57] Clijsters commented on #186
@donnemartin I'll submit a PR for getting the current maintainer. @Allaman If that's okay I just start translating and you can jump on if you have more time?

[2021-01-11 18:23] Allaman commented on #186
sure :+1: @Clijsters

[2021-01-18 06:50] berkayyerdelen commented on #39
Please let me know if you need someone for translation! @donnemartin

[2021-01-18 11:19] downtempodev commented on #39
Hi Donnemartin/System-Design-Primer.

thanks. At the moment I do not need someone for translation.
Regards.

Em seg., 18 de jan. de 2021 às 03:54, Oğuz Berkay Yerdelen <
notifications@github.com> escreveu:

[2021-01-19 00:16] cloudcatwannabe commented on #136
Hello, @weisk @ayusopatricia let me know if I can contribute to translating this awesome content.

[2021-01-21 06:25] amcheruk opened #499 "System-Design"

[2021-01-21 06:26] #499 closed

[2021-01-24 09:30] lerignoux opened #501 "Indieflashblog link is dead"
Link is broken in all languages.
cf
[code]

[2021-01-24 09:32] lerignoux commented on #501
see (Merge Request)[https://github.com/donnemartin/system-design-primer/pull/500]

[2021-01-29 08:45] qeifar commented on #28
I would like to translate in Bahasa (Malaysia/Singapore/Brunei/Indonesia/Malays region)

[2021-01-29 17:17] JacobK233811 commented on #186
@Clijsters @Allaman What's the progress on the German translation? I'm not a native speaker but have extensively studied the language and believe I can be of help dealing with small chunks of the work :)

[2021-01-30 09:48] Allaman commented on #186
Hello @JacobK233811 thanks for your offer! Unfortunately,from my side there is no progress :(

[2021-01-30 11:12] Allaman commented on #186
@Clijsters @JacobK233811 I decided to start the translation once again. If you want to contribute feel free to contact me :)
Here is the fork I am going to work on: https://github.com/Allaman/system-design-primer

\cc @donnemartin

[2021-01-30 15:33] Clijsters commented on #186
Ditto. I thought I already asked @dominikbraun, because there is a PR open, but I might forgot about that.
I'll coma back to that and when I have enough time, Id create a PR on your fork, @Allaman .

[2021-01-31 17:39] Allaman commented on #186
@Clijsters alright looking forward to your PR. We'll work on the 'de' branch :)

In order to parallelize our work I created [issues](https://github.com/Allaman/system-design-primer/issues) based on all level 2 headers of the original file. So everybody can pick and assign a section so it is transparent who is working on what topic

[2021-01-31 17:53] dominikbraun commented on #186
Ok, so we'll use @Allaman's branch and I'm going to close my PR.

[2021-01-31 21:41] Allaman commented on #186
@Clijsters @dominikbraun @JacobK233811 ?

 I think we are ready to go :tada: Can you please choose a section you would like to translate from [here](https://github.com/Allaman/system-design-primer/issues) so that we do not work on the same chapter? Thanks :)

[2021-01-31 22:17] JacobK233811 commented on #186
I can do the Contributing section. I’ll happily comment on the issue, but I’m curious about the extent of each section. Do we follow all of the links within the section and translate the content there too?

If not, completing a single section seems very manageable. Our main translation goal is to get through the README, yes?

Please advise.

JacobK233811

[2021-02-01 18:45] Allaman commented on #186
@JacobK233811 I'll suggest that we only translate content that is in the actual repo and is text. So i would not translate images for instance
Yeah - the main goal is the README :)

[2021-02-08 07:22] moeatsy opened #508 "Scalability link is dead"
"Scalability, availability, stability, patterns" link is dead and I did not found replace for it.
Instead I found a great collection: https://github.com/binhnguyennus/awesome-scalability

[2021-02-27 22:23] Azam2926 opened #512 "Just awesome"

[2021-03-01 10:29] VladPodilnyk commented on #248
Hi, guys! I would like to help with translation process.
Is it active now?
cc/ @Acarus

[2021-03-01 20:27] VladPodilnyk commented on #248
@donnemartin, does anyone contribute maintain Ukrainian translation now?

[2021-03-05 02:49] Fazel94 opened #514 "MongoDB Architecture Guide link has became irrelevent"
This link today is an infomercial and no information about how MongoDB works.
I looked it up, couldn't find something that was adequate, like the links provided for CouchDB and ElasticSearch.

[2021-03-09 12:08] kartikey100 commented on #512
Can you watch this code
https://github.com/kartikey100/first
Any changes or suggestions will be appreciated

[2021-03-11 00:17] Acarus commented on #248
@VladPodilnyk Hi, Vlad!

There is a working version with 40-50% translated.  I'm not actively contributing myself (neither @Kietzmann is), but I'd be happy to review PRs . So, feel free to send them  :)

[2021-03-11 10:53] VladPodilnyk commented on #248
@Acarus, cool, thanks for the information)

[2021-03-13 19:01] sgandhi9 opened #515 "Diagrams not clear in README.md"
Hi,
The diagrams which explain the System Design in the README.md section of this repository are not clear in Dark mode, since the arrows which connect to the different components of the system are "Black" in color.
Please update.

Thanks!

P.S. - Attaching sample diagram screenshot.
![image](https://user-images.githubusercontent.com/25073618/111041077-71dd5b80-8404-11eb-8d23-b0ab59fc204f.png)

[2021-03-14 08:53] kevintruong commented on #127
hi @duclm2609 @duynguyenhoang
I would love to convert the repo to another format call [noat.cards repo format](https://noat.cards/docs/repo-structure/) which I am the creator. I should be start by vietnamese first. So, can I fork your work and start to porting it first

[2021-03-14 09:07] kevintruong opened #517 "Porting to noat.cards knowledge repo"
hi @donnemartin

I create the issue to track my porting the repo to [noat.cards repo structure](https://noat.cards/docs/repo-structure/) which I am the author.

The anki is quite good, but I think we need a native markdown for these flash cards rather than the current anki.

[2021-04-03 17:52] besi1z opened #520 "Ops knowledge path"
Needs Dev+Ops path as reference

[2021-04-03 21:09] songmeo opened #521 "Query cache desgin: mistake in reading from disk speed"
https://github.com/donnemartin/system-design-primer/tree/master/solutions/system_design/query_cache

Under this part:
[code]
Shouldn't reading from disk takes 120x longer not 80x?

[2021-04-09 07:17] max19931 opened #523 "Media storage service"
Lots of calculation work with Media files:

Webcrawler with webpages
Timelines with Photos

I personally would requirement a dedicated page just for Media storage and it calculation.

[2021-04-09 10:02] gggwwwqqq opened #524 "赞"

[2021-04-12 07:43] gggwwwqqq commented on #524
[sdjhdjkshd](url)
`sdgbkajdbashbd`

[2021-04-12 07:46] gggwwwqqq commented on #524
[对萨电话](url)
`傻借古讽今大家看好`

[2021-04-15 06:19] gggwwwqqq commented on #524
赞

[2021-04-15 22:01] gyanprakash0221 commented on #465
Is this pr still open, I needed to add some of the resources for the low-level system design

[2021-04-15 22:06] gyanprakash0221 commented on #515
Hey, I wanna work on this to make this more visible and readable.

[2021-04-15 22:12] gyanprakash0221 opened #525 "Image not visible in dark mode"
Image under study guide is not visible and readable in GitHub dark mode as it is creating an issue in reading,
I have attached the image for reference.
![OfVllex](https://user-images.githubusercontent.com/56320349/114944703-b9bd2b80-9e65-11eb-82b5-0641d1147a52.png)

[2021-04-25 08:47] shubhamgupta-dat opened #526 "Hindi Translation"
Maintainer(s): @shubhamgupta-dat

Please check out the Translations Contributing Guidelines.

Interested in helping? Let us know!

I am native Hindi speaker and would like to maintain Hindi translation. I have already started working on it.

[2021-04-27 04:56] lor-engel opened #527 "Collisions in pastebin shortlink"
https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/pastebin/README.md

[code]

Won't there be collisions in the shortlinks, since we are only using the first 7 characters.

[2021-04-27 15:22] lor-engel opened #528 "Speed up pastebin lookups"
https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/pastebin/README.md

`We'll create an additional index on created_at to speed up lookups (log-time instead of scanning the entire table) and to keep the data in memory.`

How does the above speedup lookups? Are we talking about looking up by create date instead of shortlink? What is the use case for looking up b

[2021-04-28 04:54] lor-engel opened #529 "Fanning out tweets"
https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/twitter/README.md
`We could also avoid fanning out tweets from highly-followed users. Instead, we could search to find tweets for highly-followed users, merge the search results with the user's home timeline results, then re-order the tweets at serve time.`
If it is ok to avoid fanout for highly-followed users,

[2021-04-28 20:01] Peppershaker opened #531 "Conver to epub broken"
There are several issues in the epub conversion script using pandoc
1) Seems like `--metadata-file` might have been renamed to `--epub-metadata`, but not entirely sure. Doesn't seem like it's picking up the yaml file after I renamed it. Ended up using command line arguments instead.
`--metadata=lang:en --metadata=title:'System Design Primer'`
2) `<img src='path'>` is valid HTML4/HTML5, but it is n

[2021-04-29 07:13] howard1978 commented on #531
Not Sure be strong

[2021-04-29 09:56] mbursi commented on #104
@donnemartin I am interested in working on the Italian translation. It seems the previous one was abandoned.
I am waiting for your feedback before starting it (or contributing to an in-progress one, if exist)

[2021-05-02 11:01] Richardbmk commented on #28
I would like to translate it into Spanish. How can I help?

[2021-05-03 07:45] dnswd commented on #525
Maybe adding a white stroke would help?

[2021-05-05 01:28] slompo commented on #40
The main repository is already updated?

[2021-05-05 12:09] hardikshah197 commented on #495
@donnemartin Can I take this issue? If it isn't resolved yet

[2021-05-05 12:10] hardikshah197 commented on #515
Can I take this issue if it isn't resolved yet? @sgandhi9

[2021-05-06 01:13] timschwab commented on #482
Came here to say exactly that (what OP said, not what the above bot said). Knowledge of GraphQL would likely be an asset for a system design interview.

[2021-05-06 19:09] sgandhi9 commented on #515
Hi @hardikshah197, there is one pull request already created for the same: https://github.com/donnemartin/system-design-primer/pull/534

Thanks for the help though.

[2021-05-08 05:43] vedantshetty commented on #482
If you end up adding graphQL to the communications sections. I'd like to volunteer to fill in the content. I use graphQL quite a bit a work and have some understanding of its pros and cons

[2021-05-08 11:20] IuryAlves commented on #40
@slompo

There is a PR open: https://github.com/donnemartin/system-design-primer/pull/67

[2021-05-09 13:47] charlessws1985 opened #535 "[Python]Seek for help on extracting certain content according to font and paragragh setting in docx documents"
I'm a primary learner on Python. My request is to extracting certain content according to font and paragragh setting in docx documents. Meanwhile the content I want to extract have nothing to do with the style. (For example. In one docx document all the words are of Normal style. But some words are "Batang" font and others are "Arial" font. I need to extract words of "Arial" font).

After 2 days s

[2021-05-10 14:24] chocooki opened #536 "Cool"

[2021-05-10 23:36] #536 closed

[2021-05-15 05:48] Hikai commented on #102
I requested PR in Sep 2020 but passed 8 months. So Koreans please review to my PR. #476

[2021-05-16 19:27] prasadgujar commented on #465
@donnemartin can you please review this PR and merge it out?

[2021-05-17 16:49] BorisZubchenko commented on #531
+1, here's what I have at the beginning of the book:
![image](https://user-images.githubusercontent.com/31354262/118526477-f3c16c00-b748-11eb-9982-f05415cc4828.png)

[2021-05-20 16:11] Peppershaker commented on #531
replace the broken image tag with perl or something

[2021-05-27 09:25] salma0110 opened #540 "system design"

[2021-05-27 20:57] Amit-GH opened #541 "LRU cache - Node data structure needs query"
The LRU cache design is mentioned [here](https://github.com/donnemartin/system-design-primer/blob/master/solutions/object_oriented_design/lru_cache/lru_cache.ipynb). I understand that it's a pseudo code but the data structures are supposed to have all the necessary variables. The `Node` should have `query` too along with results, prev and next. The constructor will change to:
[code]

Without `quer

[2021-05-29 13:52] yezhuoying opened #542 "Calculation of attorney's fees"

[2021-06-03 22:37] Amit-GH commented on #540
Why was this issue created? Is this a spam or for some purpose which I do not understand?

[2021-06-05 04:51] tamuhey opened #544 "DDoS attack link is expired"
related: #12

The link in the following line seems expired.

https://github.com/donnemartin/system-design-primer/blame/master/README.md#L611

[2021-06-07 15:08] tamuhey opened #545 "2 Links in "Key-value store" section are expired"
The following items are expired.

- Redis architecture
- Memcached architecture

[2021-06-08 00:26] ralejandre commented on #136
Hello, I would like to help translate this content, I'm a bit confused on where to start.  If any of you guys could help me get started that would be great! :)

[2021-06-09 12:53] NYAritik commented on #526
Hey @shubhamgupta-dat ,
 I'm also a Native Hindi Speaker from India, I would love to help you in translation.

[2021-06-09 12:57] NYAritik commented on #28
@hwclass
I would love to work on Hindi Translation, because I'm a Native Hindi speaker from India.

[2021-06-17 14:20] tonyle9 commented on #127
@donnemartin  @tranlyvu  I would like to join the Vietnamese translation team for this repository.

[2021-06-24 14:47] jamesarosen commented on #540
Likely spam. OP has no other contributions.

[2021-06-24 14:47] jamesarosen commented on #542
Likely spam. OP has no other contributions.

[2021-06-24 14:48] jamesarosen commented on #512
Not spam, but not an issue. Recommend closing.

[2021-06-24 16:37] prasadgujar commented on #465
@donnemartin @satob @lzyzsd any updates on this?

[2021-06-30 15:41] saidelimam commented on #7
Any updates?

[2021-06-30 17:07] yiannis-had opened #547 "The Readme is cluttered"
- Do we really need [this picture](https://github.com/donnemartin/system-design-primer/blob/master/images/jrUBAF7.png) twice at the start?
- The Table of Contents should come **first**, before the flashcards section.

[2021-07-13 00:55] amsauapi opened #549 "System-design-priimer"

[2021-07-28 08:05] shreyshreyansh opened #551 "DNS image"
I personally think this image is more efficient to explain DNS' working:

![q5s2t](https://user-images.githubusercontent.com/53744971/127287086-da2c26c5-82e1-4c28-86ea-effc9c733595.jpg)

[2021-07-30 12:57] jaymuk commented on #528
I have the same question. I haven't been able to wrap my head around why you would use created_at as an index, and why not having it would imply that you'd have to scan the whole table, if we've ALREADY created an index on the short link

[2021-08-08 13:04] avalla commented on #104
I'm also availlable for help with italian translations :)

[2021-08-09 15:49] Sear3 opened #555 "system design primer"

[2021-08-15 10:52] canhlinh commented on #4
I just generated the latest PDF here
[system-design-primer.pdf](https://github.com/donnemartin/system-design-primer/files/6987980/system-design-primer.pdf)

[2021-08-18 04:32] dumindu commented on #4
If we can add these under releases, this will be more visible and accessible to all :)

[2021-08-22 18:39] talohana opened #561 ""Design the Facebook chat function" contains a broken link"
Under [Additional system design interview questions](https://github.com/donnemartin/system-design-primer#additional-system-design-interview-questions) there is a question to "Design the Facebook chat function".

The reference(s) column contains a link to some [facebook note](https://www.facebook.com/note.php?note_id=14218138919&id=9445547199&index=0) which results in "You do not have permission to

[2021-08-22 21:54] robert-blankenship opened #562 "nit: Powers of two or powers of ten?"
From the article:

[code]

GB is intended to mean `10^9` bytes. `GiB` is the proper unit for `2^30` bytes.

Source, google:
1 GB: https://www.google.com/search?q=1+GB&sxsrf=ALeKk03OI5X-KAe6bmGsX0EiWQh0mSdA5w%3A1629669151552&ei=H8ciYfidIdq80PEP3bGtkA8&oq=1+GB&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIICAAQgAQQsQMyBQgAEIAEMgsILhCABBDHARCvATIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOg4IABCxAxCDAR

[2021-08-24 15:42] floccinaucinihilipipification opened #564 "Help Needed"
![武器2](https://user-images.githubusercontent.com/89466446/130647402-a2deb759-9ba6-49f4-911f-484d823b96ee.png)
This is my first time using this website and I am not an English-speaker.I am a Python beginner,and I am developing a simple game by Pygame.I wanted the monsters to move randomly, but so far it's working strangely. Here is my current code, arrow keys moving, space bar firing bullets. Can s

[2021-09-02 11:23] d3QUone commented on #87
Any updates here?

[2021-09-03 04:25] voitau commented on #87
@donnemartin PR is waiting for the review and merge: https://github.com/donnemartin/system-design-primer/pull/502

[2021-09-04 11:37] jolob5l opened #567 "link is not available"
https://www.palantir.com/2011/10/how-to-rock-a-systems-design-interview/ is not available now

[2021-09-06 17:57] payne911 commented on #567
For extra context, it's the first link there: https://github.com/donnemartin/system-design-primer#sources-and-further-reading

[2021-09-08 19:23] kamboj652 opened #569 "BBDD"

[2021-09-08 19:24] #569 closed

[2021-09-13 06:28] UniqueWJL opened #571 "anki card cannot be imported as anki doesn't support importing apkg files."

[2021-09-15 10:52] mbursi commented on #104
@avalla I started the translation here https://github.com/mbursi/system-design-primer/tree/italian-translation if you are up to it we can keep working on that. Also, @nongio is contributing to it. Let me know and I can add you to the committers.

[2021-09-15 12:52] avalla commented on #104
Hello, I'm available, I can try to help you :)

Thanks!!

[2021-09-18 03:33] gionchat opened #575 "Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-18 03:50] PremPatel8 commented on #150
A separate Object Oriented Primer repository would be really helpful for people learning OOP and those preparing for entry level SDE interviews.

[2021-09-20 09:19] mbursi commented on #104
@avalla, you should have access. Feel free to contribute and add me as a reviewer, I will do the same.

[2021-09-30 06:41] macklee opened #578 "offline reading"

[2021-09-30 06:42] #578 closed

[2021-10-03 13:03] afaqahmedkhan opened #582 "Requesting an update to the newer video lecture"
![image](https://user-images.githubusercontent.com/7557141/135754781-8d4afd2a-c92e-4f1f-9b40-37c257f544ac.png)

the link **Scalability Lecture at Harvard** includes 8 years older lecture from CS50 where as Harvard has updated the newer lecture [here](https://youtu.be/6PWTxRGh_dk)

[2021-10-03 13:50] afaqahmedkhan commented on #582
I've created a PR for this: https://github.com/donnemartin/system-design-primer/pull/583

[2021-10-06 04:53] lor-engel opened #586 "Pastebin CDN"
Why does client go directly to CDN. Doesn't it need to go to read API first. Then, API will go to CDN and get paste data. Finally, the API will use data to assemble response to user. Also, what is the purpose of the DNS in the architecture?

[2021-10-06 05:03] lor-engel opened #587 "Backpressure"
How is backpressure different from rate limiting? With back pressure, we will get an error if the queue gets too big. Doesn't rate limiting do the same thing. Is the difference that rate limiting focused more on limiting certain users?

[2021-10-06 15:05] aneshas opened #588 "Bosnian translation"
@donnemartin I would like to add a Bosnian translation will be making a PR

[2021-10-08 01:35] shivinm opened #593 "Memcached architecture link doesn't work"
https://www.adayinthelifeof.nl/2011/02/06/memcache-internals/

section that references it: https://github.com/donnemartin/system-design-primer#key-value-store

Cannot find that blog on the site to update the link.

[2021-10-11 17:03] ecojames1993 opened #595 "Important"

[2021-10-11 17:38] #595 closed, assigned to nobody

[2021-10-12 13:48] lor-engel opened #596 "Notifying the user that the transactions have completed"
Uses a Queue (not pictured) to asynchronously send out notifications

Do we need to notify the user that the transaction has completed? Isn't notifying only for if budget was exceeded?

[2021-10-12 14:01] lor-engel opened #597 "Using a heap to lookup the top manual override for mint"
How does the heap work in this case? Let's say that a sellers top category is food, so food is at the top of the heap. Then, the same seller gets several overrides for shopping, which becomes the top category. How does the count for shopping get updates so it rises to the top of the heap?

[2021-10-15 12:47] #564 closed

[2021-10-19 18:47] PingPongSet opened #602 "Clarification question: Disadvantage(s): CDN: why is it Content might be stale if it is updated before not after the TTL expires it?"
Should it be **after** instead of before? Or please elaborate on this.

https://github.com/donnemartin/system-design-primer#disadvantages-cdn

[2021-10-20 04:37] yc5629 opened #603 "Thanks"

[2021-10-20 10:50] PingPongSet opened #604 "Design Pastebin.com: storing file location in S3 in the pastes table"
Should the `pastes` table contain the location in object store S3? Otherwise, how can we find it?

[code]

https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/pastebin/README.md#step-3-design-core-components

[2021-10-20 14:56] PingPongSet opened #605 "Questions on the question of scales users on AWS"
I have questions for the section below:

https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/scaling_aws/README.md#step-4-scale-the-design

Q1: What is the reason for running web servers as a Reverse proxy?

Q2: What is referred to by `others` below?
For example, you can add Application

[2021-10-21 09:11] faizzed opened #606 "On the scope of system design for twitter/facebook feed & search."
I would appreciate if someone can shed a light on this.

I came across this [system design](https://github.com/donnemartin/system-design-primer/blob/master/solutions/system_design/twitter/README.md) which is to design feed & search features of twitter/facebook.

I am a bit unsure about the following use cases defined
- User posts a tweet
- Service pushes tweets to followers, sending push notificat

[2021-10-21 15:27] lor-engel opened #607 "Batching compute offline in social graph system design"
How can we batch compute offline? Don't we need the search API to be real time?

[2021-10-21 15:29] lor-engel opened #608 "merge two paths in social graph system design"
How do we merge two paths? After each step from both sides, do we check if any nodes in the frontiers overlap?

[2021-10-21 15:31] lor-engel opened #609 "Start the BFS search for social graph from people with large numbers of friends"
How do we start the search from someone other than the source or destination? We don't know who is in between yet.

[2021-10-28 05:26] morenoh149 opened #610 "[question] Which topic deals with websocket and loadbalancers?"
During my system design studies I keep hearing that scaling websockets is tricky, because a load balancer has to route the client to a node that can help it in the case the socket is broken. Does anyone know what this topic / solution is called?

[2021-10-31 15:42] chiefraccoon commented on #571
+1

[2021-11-09 18:06] vitalyzhakov commented on #87
@voitau , hello!
In steps, who can review, who can merge? What we need?

[2021-11-11 02:43] voitau commented on #87
@vitalyzhakov, waiting for https://github.com/donnemartin/system-design-primer/pull/502 to be reviewed and merged by @donnemartin

[2021-11-14 20:57] MarioMartReq opened #614 "A 2 hours long, 8 years old video for the intro? We can do better"
![image](https://user-images.githubusercontent.com/19227720/141698271-bafeee3f-9a5c-444b-9f5e-b79921aa71c1.png)

Imagine going into this guide and the first step is an almost 2 hours long video, with no notes.

This could be done better.

[Link to an updated lecture, with notes, slides and video](https://cs50.harvard.edu/web/2020/weeks/8/)

[2021-11-14 22:40] rpu2020 opened #615 "System design"

[2021-11-15 23:37] PrincesNunu opened #616 "Python Layout and Prompt - Terminal Interface"
Hello:
I am doing a small program of a user interface for running on a terminal. I use RICH to define Layouts and I need to put into one layout a prompt for asks inputs and show into another Layout. Did someone have make this before? It is possible? How?
Thanks in advance!

[2021-11-18 14:20] navohu commented on #614
Thanks for the link!

[2021-11-22 12:20] alokraj71 opened #618 "System design"

[2021-11-24 04:31] VijayRathod20 opened #619 "Python Program Quetion"
A library charges a fine for every book returned late. For first 5 days the
fine is 50 paisa, for 6-10 days fine is one rupee and above 10 days fine is 5
rupees. If you return the book after 30 days your membership will be
cancelled. Write a Python program to accept the number of days the member is late
to return the book and display the fine or the appropriate message.

[2021-11-24 15:56] Harsh-2200 commented on #619
[Uploading library.py…]()

[2021-11-26 18:14] anton-marchenko opened #621 "Are there info about relational DB limitations?"
I am a beginner in problems of system design and I have no idea why for example "N-thousand tweets per second delivered tweets will be too much for relational database" ([Design the Twitter timeline and search](https://github.com/voitau/system-design-primer/blob/master/solutions/system_design/twitter/README.md#step-3-design-core-components)). I really need digits.

I don't understand relation betw

[2021-12-01 09:50] #621 closed

[2021-12-03 01:51] Waaluo opened #625 "تصميم برامج عربي"
اوبا

[2021-12-05 11:19] abdou-c opened #626 "Large scale system"

[2021-12-07 10:13] xx7Ahmed7xx commented on #170
How to contribute to arabic translation ?

[2021-12-07 10:15] pzheng commented on #170
您好，你的邮件我已收到！

[2021-12-07 10:17] 690713748 commented on #170
您好，您的邮件我已经收到，谢谢。祝您生活愉快！  --殷梓淞

[2021-12-07 10:19] lirongchang commented on #170
这是来自QQ邮箱的自动回复邮件。你好，我已接收到你的邮件。

[2021-12-11 11:36] #326 closed

[2021-12-12 15:51] VaishnaviJahagirdar3 commented on #619
Can I do this?

[2021-12-12 15:55] VijayRathod20 commented on #619
Yes

[2021-12-12 16:21] ecargsid-eht commented on #619
can i do this please?

[2021-12-19 17:04] rahil051 commented on #515
Guys, any plans to merge #534 ? Cuz the problem is still there.

[2021-12-21 18:23] maximn commented on #272
Hi guys, is this maintained? I see long time without activity and looks like it's not merged
I'm willing to help

[2021-12-22 13:00] avihaybar commented on #272
hi @maximn, I guess it not maintained very actively.
you are welcome to join.
I think @EladLeev is the official maintainer for the Hebrew translation.

[2021-12-22 18:04] harsh-batheja opened #630 "Add White Background to all images"
When using Dark Mode, all the image text disappears, this can only be fixed by adding a white background to all the images.

[2021-12-23 07:18] maximn commented on #272
@EladLeev sent you a DM on LinkedIn.

I can't find what was already done? I see the PR but seems like everything there is in English.

[2021-12-23 08:29] EladLeev commented on #272
@maximn -- Thanks for the willing to help!
That's the correct [branch and file](https://github.com/EladLeev/system-design-primer/blob/he-translate/README-he.md).
I'll be in touch in LinkedIn, I would love to get some help and finally finish it :)

[2021-12-26 14:28] rcalixte commented on #4
I just opened a PR for this.
A sample of the PDF that will be auto-generated once it is merged:
[system-design-primer.pdf](https://github.com/donnemartin/system-design-primer/files/7777091/system-design-primer.pdf)

Feedback would be greatly appreciated. 🤞🏽 🙏🏽

[2021-12-29 10:18] fxchulo123 commented on #619
I want to participate

[2021-12-30 22:41] bolshoytoster commented on #630
I’ve opened a [pr](https://github.com/donnemartin/system-design-primer/pull/634).

[2022-01-01 13:44] SHI4FOURIV opened #635 "File Arrangement"
I have a question. It's about my thesis...
I have some data in 1996-2021 but files like that:
1996>1....12>1....30
1997>1....12>1....30
and they have a lot of .txt file inside them. but i have just one text file to everyday and it must be put together in one text file.
anyone can help me please!!!

[2022-01-05 00:16] vfdev-5 commented on #630
Otherwise you can also use "Dark dimmed" github theme

[2022-01-08 18:22] wilkmaia commented on #40
@donnemartin I can help maintaining the Brazilian Portuguese translation. What should the next steps be? Should we keep
 working on IryAlves' fork and #67?

[2022-01-15 23:25] harsh-batheja commented on #630
It doesn't quite work for me, it's not dark enough and the text then too
looks quite bad on it.

On Wed, 5 Jan 2022, 5:47 am vfdev, ***@***.***> wrote:

[2022-01-15 23:26] harsh-batheja commented on #630
Maybe we can add a grey background instead of the white?

On Sun, 16 Jan 2022, 4:55 am Harsh Batheja, ***@***.***> wrote:

[2022-01-29 14:21] KiranQureshi53 commented on #635
Hi @AlperenFurkanEksilmez, do you still need help? I might be able to help you.

[2022-01-29 14:27] KiranQureshi53 commented on #619
@VaishnaviJahagirdar3, are you still looking for the code? I am willing to do it.

[2022-01-29 14:28] #619 closed

[2022-01-29 14:28] VijayRathod20 commented on #619
No

[2022-01-31 17:40] brcavallaro commented on #40
As @wilkmaia, I am interested in contributing as well, @donnemartin. Looking forward for next steps here :)

[2022-02-07 19:50] xx7Ahmed7xx commented on #170
@donnemartin checkout my pull request, I remade the arabic translation and made better edits on it.

[2022-02-08 03:38] SriCoD opened #639 "I"

[2022-02-14 19:22] Ahmad-alsanie commented on #170
https://github.com/donnemartin/system-design-primer/pull/638#pullrequestreview-882031931

[2022-02-19 13:12] bhaskey commented on #630
it still doesn't work for me. Adding light color to arrows and text outside the boxes would be great. No need to add white/grey all over the background..

[2022-02-22 09:26] BasToTheMax commented on #626
?

[2022-02-25 16:09] MrKhan0747 opened #642 "Invalid Link How to Ace System Design Interview"
This is invalid link [https://www.palantir.com/2011/10/how-to-rock-a-systems-design-interview/](url) . Please provide correct one

[2022-03-03 09:49] hugosantos-io commented on #40
Hi @donnemartin! Together with @wilkmaia and @brcavallaro I'm also available to help maintain the pt-BR version.

[2022-03-04 15:27] aasim-syed opened #643 "Tamil Translation"
I would like to CONTRIBUTE in translating  in Tamil as I am native speaker as well.

[2022-03-04 15:29] #643 closed

[2022-03-04 15:30] aasim-syed opened #644 "Tamil Translation"
I would like to CONTRIBUTE in translating in Tamil as I am native speaker as well.🖤👀😁

[2022-03-06 04:06] rimajl2020 opened #646 "RiMajol Joel"
Thanks for your service

[2022-03-06 05:41] SiddheshKukade commented on #646
Why have opened issue then? ? Close it if no problem man! 🤨

[2022-03-06 05:44] rimajl2020 commented on #646
Wa eo ijoka I got my app message

[2022-03-06 05:45] rimajl2020 commented on #646
Thanks u sir

[2022-03-07 19:10] AdilTestelin commented on #250
Hello @spuyet,
Are you still interested about contributions ?
Kind regards

[2022-03-13 22:18] BlackdestinyXX commented on #104
If help is needed, I can work on the italian translation

[2022-03-14 09:52] mbursi commented on #104
@BlackdestinyXX definitely still help needed, see the fork above. It would be great to keep working on it together.
I am adding you now to the contributors right now. Feel free to contribute :)

[2022-03-14 12:38] BlackdestinyXX commented on #104
@mbursi ok, thank you. As soon as possible I start to translate.

[2022-03-20 21:56] rimajl2020 opened #649 "Leave a review for PPF on Google"
PPF would love your feedback. Post a review to our profile.
https://g.page/r/CY4m6dhs9hEbEA0/review

[2022-03-20 21:57] rimajl2020 commented on #649
Thanks

[2022-03-23 20:22] mleers opened #650 "Weighted round robin link in DNS section is dead"
The link in question: https://www.g33kinfo.com/info/round-robin-vs-weighted-round-robin-lb
Location in course: https://github.com/donnemartin/system-design-primer/blob/master/README.md#domain-name-system
Potential replacement: https://www.jscape.com/blog/load-balancing-algorithms

[2022-03-29 13:54] neurosystemx opened #653 ""How to ace a systems design interview" link broken"
In this section: https://github.com/donnemartin/system-design-primer#sources-and-further-reading

The link "How to ace a systems design interview" gives a 404 not found

Maybe this link can be used instead: https://massivetechinterview.blogspot.com/2015/06/how-to-ace-systems-design-interview.html

[2022-03-29 13:55] neurosystemx commented on #642
https://massivetechinterview.blogspot.com/2015/06/how-to-ace-systems-design-interview.html

[2022-03-29 21:36] mikedillion commented on #653
This is being worked on in https://github.com/donnemartin/system-design-primer/pull/568

[2022-03-30 21:05] nabpreab4 opened #655 "Ggg"

[2022-03-30 21:05] nabpreab4 commented on #655
Gt

[2022-03-30 21:05] nabpreab4 commented on #655
Gt

[2022-03-30 21:06] nabpreab4 commented on #655
Tgh

[2022-03-30 21:06] nabpreab4 commented on #655
Tgh

[2022-03-30 21:06] nabpreab4 commented on #655
Ggg

[2022-04-07 21:01] spuyet commented on #250
Hello @AdilTestelin, sorry for my late response. Every contribution is welcome !

[2022-04-13 08:39] abnnjo opened #657 "system_design"

[2022-04-13 21:12] newcarlis commented on #136
Hi, I'm a native speaker and would like to help translate this resource. Is there a contributing guide that I can use to get started?

[2022-04-14 20:26] caiocinel commented on #40
I'm also available to help with the translation!

[2022-04-16 07:44] IuryAlves commented on #40
It is not active. Feel free to fork this repo and translate it.

[2022-04-16 11:57] vk34code opened #658 "System design"

[2022-04-16 11:58] vk34code opened #659 "System design"

[2022-04-16 11:58] vk34code commented on #659
...

[2022-04-17 18:51] toastorM opened #662 "moneitoasterthatotheodore@gmail.com"
Interesting

[2022-04-18 17:51] harimau99 opened #663 "Would like to add Language Malay"
As in the above. i would like to add on language (malay) as part of the contribution to the list & material.

[2022-04-19 18:59] Shalil-j opened #664 "Guids"

[2022-04-19 20:36] suleymankalkan commented on #39
Hi @donnemartin! If you need any help with the translation  I would love to help :)

[2022-04-20 00:39] donnemartin commented on #650
Fixed with #651

[2022-04-20 00:39] #650 closed

[2022-04-24 01:49] MrSuperKevin opened #665 "Typo in 'Write-behind' section"
Found a typo in the following section:
Chinese version:
<img width="432" alt="image" src="https://user-images.githubusercontent.com/13498761/164952179-0dc3f97c-5d63-4a0a-bde9-e9a7ddeac7f1.png">
English version:
<img width="790" alt="image" src="https://user-images.githubusercontent.com/13498761/164952219-a49586fa-9411-4ed8-9577-62aba64b9d86.png">

[2022-04-26 18:43] MohammadArik opened #668 "Markdown Picture Color Problem"
Hi there!
I am amazed to see such an amazing explanation repo on systems design! But a problem I faced as a "dark mode" user is the arrows used in the pictures are way similar to the background of the dark mode of GitHub... So I request to change the colors of the arrow to light-grey so that they can be visible in both light and dark mode...

Advanced thanks for your respectable criticism of my cl

[2022-05-03 07:50] mayrmartin opened #671 "GithubPages deployment?"
It would be great to have access to this guide in a structured, well-formatted & searchable manner.
I've seen there is an open issue regarding the automated PDF generation in the GitHub Actions but as far as I can see, there the output is neither really well-formatted nor really good searchable.

A possible solution would be to automatically generate a static webpage using [Docosaurus](https://doc

[2022-05-04 04:41] not-aristotle opened #672 "Link to "Round robin or weighted round robin" page under "Load balancer" section is not working"
This link - https://www.g33kinfo.com/info/round-robin-vs-weighted-round-robin-lb is not working. It says:
"There has been a critical error on this website."

Seems to be the same issue as #650.

[2022-05-04 15:34] BhuYadav commented on #672
this should be changed to - https://g33kinfo.com/info/round-robin-vs-weighted-round-robin-lb/

[2022-05-15 20:44] esselesse commented on #87
as i got, the translation is done by google translate - it is readable, but sometimes there are quite weird phrases.

if you don't mind, i'll try to make some improvements to this translation in couple of weeks.

[2022-05-21 06:43] v-danh commented on #127
It does not work! (404 Error)

[2022-05-23 19:43] kamboj652 commented on #136
Hi, I am from India but living in Spain for 15 years. I would like to contribute.

[2022-05-29 12:25] irfansofyana commented on #28
Hi @hwclass I would like to help translate into Bahasa Indonesia. How do I get started?

[2022-06-01 01:57] Mel4221 commented on #136
hi from Dominican Republic im 22 years old and i would be more than glad to help too

[2022-06-05 16:52] roll-no-1 opened #678 "Arrows not visible clearly on Github Dark mode. Suggest to have a white bg for the images instead of transparent ones"
Ref:
<img width="988" alt="image" src="https://user-images.githubusercontent.com/36921843/172061408-0b365801-8228-438c-9765-dfaa407dee50.png">

I'm having to use Light Mode specifically because of this. It'll be better to have a white bg for the images.

[2022-06-05 16:54] roll-no-1 commented on #678
Seems like a duplicate of #630. I'll mark it closed. Please look into that one

[2022-06-05 16:54] #678 closed

[2022-06-10 03:43] datxaban commented on #127
Can I join the translation now? Maybe we currently don't have any maintainer!

[2022-06-15 02:50] pixelknitter commented on #571
Tried importing/downloading the `apkg` file and it fails saying the apkg file didn't unzip properly.

[2022-06-15 18:23] ibrahim4851 commented on #39
Hi everyone, I would like to contribute to Turkish translation too! Please let me know if you want me as a partner.

[2022-06-17 15:37] anBertoli commented on #104
Aldo available for translation.

[2022-06-17 18:22] prajwal9605 opened #683 "Link broken"
Under the header "How to approach a system design interview question":"Source(s) and further reading", the first link "[How to ace a systems design interview](https://www.palantir.com/2011/10/how-to-rock-a-systems-design-interview/)" is broken

[2022-07-02 00:29] lvidal1 commented on #136
Hi, I am a Spanish native speaker. I would love to help you guys too :)

[2022-07-02 03:28] Mel4221 commented on #136
so how does this work  ?

[2022-07-02 03:33] rossanag commented on #136
I am a spanish native speaker also, I'd be glad to help. How do we start, by making PRs, merges?

[2022-07-02 10:21] vikas6767 opened #685 "8zzuj"

[2022-07-04 17:44] fx94110 opened #686 "系统设计"

[2022-07-17 00:59] LaurelineP commented on #250
If I can help I would be happy to participate in the translations if you still need :)
Best Regards :)

[2022-07-17 15:12] Adsidera commented on #104
I am also available for translating/proofreading.

[2022-07-17 21:51] spuyet commented on #250
Hello @LaurelineP, we're still looking for active contributors ! It would be a pleasure to review and merge one of your PR 👍

[2022-07-17 22:57] maxx6262 commented on #250
Hi there , i was founding about where I would apply to help you to translate into French language.
Are you able to help me to understand how I would be more efficient to help team ?

[2022-07-25 03:27] aexftf opened #691 "can you make it be a book?"

[2022-07-25 16:41] spuyet commented on #250
Hello @maxx6262, you just have to create a fork of https://github.com/spuyet/system-design-primer/tree/add-french-translation and create a PR from your branch to this one :wink:

[2022-07-28 11:16] Lou-E-303 opened #692 "Not clear how performance & scalability is a trade-off"
The section on performance & scalability seems to suggest that these two factors are a trade-off between each other (`Keep in mind that everything is a trade-off.`, etc.). Even the language of 'performance **vs** scalability' seems to suggest that having one comes at the cost of another.

But then, the section explicitly states that as a service scales, the performance _increases if it is scalable

[2022-07-30 01:53] ChetanNair opened #693 "Typo in README"
<img width="819" alt="Typo" src="https://user-images.githubusercontent.com/93496359/181865818-a8ea0d9d-6b8a-4556-9bf5-a02bf90e8682.png">

[2022-07-30 17:16] rcalixte commented on #671
@mayrmartin Can you share about the PDF not being searchable enough? The PDF generated [here](https://github.com/donnemartin/system-design-primer/issues/4#issuecomment-1001191308) should support full searching. If there is missing functionality, I would like to see if I can tweak the automation to make it more suitable.

[2022-07-30 19:33] mayrmartin commented on #671
The PDF you mentioned is indeed searchable but the PR which implements the autogeneration (PR #632) is still open. It would be great if this generation step could be merged in order to have a PDF which is always up-to-date

[2022-07-30 20:22] rcalixte commented on #671
Agreed. It's a hefty PR so we're waiting until @donnemartin has time to review it. Thank you for the feedback though! I've been rebasing, regenerating, and re-uploading the PDF when possible until the PR is merged so you can get a fairly updated copy should anything else be merged in the repo before then. Cheers!

[2022-07-31 21:59] #693 closed

[2022-08-08 12:57] faizzed commented on #606
I am closing this issue.

[2022-08-08 12:57] #606 closed

[2022-08-17 06:17] 30adi commented on #635
hello @AlperenFurkanEksilmez , You can use each file directly into the writeline method:-

import glob, os, fileinput
os.chdir("/mydir")
file_list = glob.glob("*.txt")
with open('result.txt', 'w') as file:
    input_lines = fileinput.input(file_list)
    file.writelines(input_lines)

[2022-08-27 03:12] rcalixte commented on #691
@aexftf There is an open PR for adding automation to generate a PDF after a new commit is merged.

Until then, can you check out the PDF [here](https://github.com/donnemartin/system-design-primer/issues/4#issuecomment-1001191308) and share any feedback? It should be an exact duplicate of what will be generated once the PR is merged.

[2022-09-03 21:22] valerii-chirkov commented on #571
Same issue

[2022-09-03 21:27] valerii-chirkov commented on #571
Kinda solve the issue. Tried to download the apkg through curl - anki cannot import it, just click on view raw and it works fine.

[2022-09-15 19:52] zack0013 commented on #668
hi

[2022-09-18 18:30] JacobK233811 commented on #186
@Allaman I noticed that GitHub no longer hosts your fork, what is the future of the community German translation? I have our progress locally, though I understand the README-de.md never saw completion.
[README-de.md](https://github.com/donnemartin/system-design-primer/files/9594995/README-de.md)

[2022-09-18 18:42] Allaman commented on #186
@JacobK233811 I have closed https://github.com/donnemartin/system-design-primer/pull/504 because there is a PR (https://github.com/donnemartin/system-design-primer/pull/577) that was more complete at that time but apparently never got merged.

[2022-09-18 18:49] JacobK233811 commented on #186
Good to hear, @donnemartin what's the plan to clear off the "needs-review" tag? Should other contributors read and give it the green light?

@Allaman , were the components of #504 incorporated or did it not make sense relative to the quality and completeness of #577 . Hoping to see an official German translation as part of the main repository in the near future :)

[2022-09-18 18:53] Allaman commented on #186
@JacobK233811 to be honest I've never checked the quality or completeness of https://github.com/donnemartin/system-design-primer/pull/577 ...

[2022-09-26 19:02] JacobK233811 commented on #186
I see, hopefully it can get merged soon.

[2022-09-30 01:26] bobsburgers opened #706 "This ksat link is broken."
the link has a trailing slash that breaks it

http://ksat.me/a-plain-english-introduction-to-cap-theorem/
should be
http://ksat.me/a-plain-english-introduction-to-cap-theorem

[2022-10-04 21:20] AwsYaseen22 commented on #706
Hi, I'm new to contributing, can I take this one?!

[2022-10-08 19:44] nour-s commented on #337
I also want to know what type of ID is 32 bytes, as far as I know, GUID is 16 bytes (128 bits).
Also, integers are 64 bits (8 bytes only) so this is too big for integers also.

[2022-10-10 01:03] yashmishra12 commented on #692
You can find a very intuitive answer here: https://blog.professorbeekums.com/performance-vs-scalability/

[2022-10-17 23:30] canhductran commented on #28
Hi, I would like to help translate into Vietnamese. How can I help?

[2022-10-20 15:09] vdurmont opened #709 "Change copy for TOS"

[2022-10-20 15:10] #709 closed

[2022-10-22 03:11] toastorM opened #712 "Affiliate Git"
...

[2022-11-08 11:08] calcajack3 commented on #104
I'm available for translation/help.

[2022-11-29 03:14] yzhong52 commented on #390
@donnemartin I agree that they should be called "inverted index". This is a bit misleading to call them "reverse index" here. Can you advice how we can have this fixed?